<style>
* {
  box-sizing: border-box;
}
/* Header/Blog Title */
.header {
  /* text-align: center; */
  background: #c9d6ee;
}
.menu {
  padding-bottom:5px;
  margin-left: 5px;
}
.footer {
  padding: 10px;
  text-align: center;
  background: #c9d6ee;
}

.row{
  padding-left: 10px;
}
.btn-sm{
  margin-left: 3px;
}
.btn-rock{
  padding: 3px;
}
.btn-delete{
  padding: 3px;
  margin: 1px;
}


.panel{
  background-color: #83aec9;
  padding: 5px;
  margin: 5px;
}
.frame{
  width:95%;
  border-color: #467582;
  /* border-style: solid; */
  border-width: 3px;
  margin: 5px;
  margin-top:15px;
}
.myBtn {
  width: 50px;
  height:50px;
  /* margin:5px; */
  padding:0px;
  background-color: #b9c7e3;
}
.myBtn-sm {
  width: 30px;
  height:30px;
  top:-1px;
  padding:0px;
  background-color: #b9c7e3;
}

.jmol{
  float: right;
  height: 30px;
  padding: 5px;
  text-align: center;
}

.header h1 {
  font-size: 50px;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 49%;
  background-color: #a0a0c0;
  margin-top: 10px;
  /* margin-right: 10px; */
  border-style: solid;
  border-color: #5050a0;
}

/* Right column */
.rightcolumn {
  float: right;
  width: 50%;
  background-color: #a0a0c0;
  margin-top: 10px;
  border-style: solid;
  border-color: #5050a0;
}

img {
  /* display: block; */
  /* margin: auto; */
  /* margin-left: auto;
  margin-right: auto; */
  /* padding-top: 10px;
  padding-bottom: 10px; */
  width: 100%;
}


.settings{
  background-color: #a0a0e0;
  border-style: solid;
  border-color: #5050a0;
  margin: 10px;
  width: 95%;
}

.frame_settings{
  background-color: #a0a0d0;
  border-style: solid;
  border-color: #5050a0;
  margin: 10px;
}


/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}

.bloch_param{
  padding:0px;
  margin:3px;
}
.vlong_input{
  width: 160px
}

.long_input{
  width: 120px
}
.mid_input{
  width: 100px
}
.sm_input{
  width: 50px
}

.bloch_input{
  width: 60px
}

.bloch_solve_param{
  padding:3px;
  font-size: 15px;
  text-align: center;
}
.rock_solve_param{
  padding: 5px;
  margin: 5px;
  font-size: 15px;
  text-align: center;
  margin-bottom: 10px;
}
.bloch_solver{
  /* background-color: #a1c2c2; */
  background-color: #95bd97;
  padding: 5px;
  margin: 5px;
  /* margin-left: 5px; */
  font-size: 20px;
  border-radius: 3px;
  border-color: #5b8686;
  border-style: solid;
}
.theta_phi{
  border-style: solid;
  padding: 3px;
  width: 90%;
  margin-bottom: 5px;
  margin-left: 10px;
  border-radius: 3px;
  border-color: #18327c;
}
.gg-icon{
  display:inline-block;
}

.td-in{
  padding: 4px;
}


.set_rock{
  float: right;
  bottom: 50px;
  right: 15px;
}

#table_miller{
  overflow-y: scroll;
  height: 15vh;
  margin-left: 0px;
  /* background-color: blue; */
}

#table_Miller_indices {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
}
#table_Miller_indices td, #table_Miller_indices th {border: 1px solid #5e826c;}
#table_Miller_indices tr:nth-child(even){background-color: #70b788;}
#table_Miller_indices tr:nth-child(odd){background-color: #2f8163;}
#table_Miller_indices tr:hover {background-color: #26604b;}
#table_Miller_indices th {
  padding: 5px;
  text-align: left;
  background-color: #1c5640;
  color: #cce6c3;
}

.tab_btn{
  border-color: #2c4fa1;
  margin: 0px;
  margin-left: -4px;
  border-width: medium;
  background-color:#84b6cb;
  border-style:none;
  border-bottom: 0;
  border-radius: 0;
  height:35px
}
.bloch_panel {
  border-color:#2c4fa1;
  border-style:solid;
  border-width:medium;
  border-radius: 0;
}
.gif{
  width:75%;
  border-style:solid;
  border-color:blue;
  border-width:thick;
  display: block;
  /* margin-left: auto;
  margin-right: auto; */
  /* float:right; */
}

.felix_refl{
  margin-left:7px;
  color:#d6ebec;
}
.btn_u {
  padding-top: 15px;
  margin-right: 4px
}


#search_struct {
  background-image: url('/static/images/searchicon.png');
  background-position: 5px 5px;
  background-repeat: no-repeat;
  width: 230px;
  font-size: 16px;
  padding: 5px 5px 5px 40px;
  border: 1px solid #ddd;
  margin-bottom: 0px;
}

#search_ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width:230px;
  border: solid;
  border-width: thin;
}
#search_ul .li_search {
  border: 1px solid #ddd;
  margin-top: 0px; /* Prevent double borders */

  padding: 0px;
  text-decoration: none;
  font-size: 14px;
  color: black;
  display: block
}
.li_search{
  cursor:pointer;
  background-color: #f6f6f6;
  padding-left:5px;
}
#search_ul .li_search:hover:not(.header) {
  background-color: #eee;
}

</style>
