body
{
	margin: 5px 5px 5px 5px;
	background-color: #ffffff;
	color: #333333;
	line-height: 19px;
	font-size: 17px;
	font-family: "Times New Roman", Times, serif;
}
body.bmrg { margin-bottom: 50px; }
body.cent { margin-left: 0px; margin-right: 0px; text-align: center; }

div.cbox
{
	display: inline-block;
	width: 100%;
	max-width: 800px;
	text-align: left;
	hyphens: auto;
}
div.cbox p
{
	text-align: justify;
	padding-left: 11px;
	padding-right: 11px;
}
div.cbox p.ar
{
	text-align: right;
}

div.mrg
{
	margin: 0px 11px 0px 11px;
	background-color: #ffffff;
}

p
{
	margin-bottom: 19px;
	margin-top: 19px;
}

:focus
{
	outline: none;
}

img
{
	border: none;
}

a
{
	hyphens: none;
	text-decoration: none;
}

a:link
{
	color: #2222BB;
}
a:visited
{
	color: #222277;
}
a:hover
{
	color: #FFFFFF;
	background-color: #9999DD;
}
a:active
{
	color: #FFFFFF;
	background-color: #BBBBFF;
}

a.top
{
	font-weight: normal;
}
a.top:link
{
	color: #000000;
}
a.top:visited
{
	color: #000000;
}
a.top:hover
{
	color: #FFFFFF;
	background-color: #9999DD;
}
a.top:active
{
	color: #FFFFFF;
	background-color: #BBBBFF;
}

a.ns, a.ns:hover, a.ns:focus, a.ns:active
{
	background-color: inherit;
}

table, tr, td
{
	padding: 0px;
	margin: 0px;
}
td
{
	padding-top: 1px;
	padding-bottom: 1px;
}

ul.seplist
{
	text-align: justify;
}
ul.seplist li
{
	margin-top: 11px;
	margin-bottom: 11px;
}

ul.tp
{
	list-style-type: none;
	padding: 0px;
	margin-left: 40px ;
}

li.tp
{
	text-indent: 0px;
	white-space: nowrap;
	padding-top: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

li.tp::before
{
	content: "\2022";
	color: #4444AA;
	font-weight: bold;
	font-size: 1.6em;
	display: inline-block;
	width: 0.6em;
	margin-left: -0.7em;
	transform: translate(0em, 0.15em);
	line-height: 0px;
}

p.contnt
{
	padding: 0px;
	margin-top: 19px;
	margin-bottom: 19px;
	text-align: justify;
	hyphens: auto;
}
body.cent p.contnt
{
	display: inline-block;
	max-width: 800px;
	margin-left: 5px;
	margin-right: 5px;
}
div.coimg
{
	text-align: center;
	overflow-x: auto;
}

img.flt
{
	float: left;
	margin: 0px 14px 7px 0px;
	padding-top: 4px;
}

img.seq
{
	margin:0px 0px 0px 0px;
	vertical-align: middle;
}

img.shd
{
	box-shadow:  0px 2px 2px 0 rgba(0,0,0,0.4), 0px 4px 6px 0 rgba(0,0,0,0.2);
}

.sans
{
	font-family: Arial, Helvetica, sans-serif;
}

p.title, p.ctitle
{
	margin-top: 30px;
	margin-bottom: 10px;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	line-height: 27px;
	font-weight: bold;
	hyphens: none;
}
p.title, div.cbox p.title   { text-align: left; }
p.ctitle, div.cbox p.ctitle { text-align: center; }

p.contnt
{
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: justify;
	hyphens: auto;
}

input
{
	border: 1px solid #999999;
	padding: 6px 6px 6px 6px;
	margin: 2px 0px 2px 0px;
	background-color: #FFFFFF;
	font-size: inherit;
	font-family: inherit;
}
input:hover
{
	box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.2);
}
input:focus
{
	border-color: #000000;
}

input[type="text"].itf
{
	width: calc(100% - 15px);
	background: #EEEEFF;
}
input[type="text"].itf:focus
{
	background: #FFFFFF;
}
span.fsbtn
{
	color: #000000;
	cursor: pointer;
	padding: 6px 6px 6px 0px;
	vertical-align: sub;
}
span.fsbtn:hover { color: #666666; }
span.fsbtn:active { color: #6666FF; }

.lnk
{
        cursor: pointer;
	transition: opacity 150ms;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}
.lnk:hover
{
        opacity: 0.5;
}
.lnk:active
{
        opacity: 0.25;
}

div.card
{
	display: inline-block;
	background-color: #FFFFFF;
	padding: 22px;
	margin: 6px;
	border: 1px solid #FFFFFF;
	min-width: 150px;
	min-height: 41px;
	box-shadow: 0px 2px 5px 0 rgba(0,0,0,0.16), 0px 2px 10px 0 rgba(0,0,0,0.12);
	text-align: justify;
	hyphens: auto;
	vertical-align: top;
	width: calc(100% - 58px);
}
div.card>*:first-child
{
	margin-top: 0px;
}
div.card>*:last-child
{
	margin-bottom: 0px;
}

div.card img
{
	vertical-align: middle;
}

div.card img.fltl
{
	float: left;
	margin: 0px 14px 7px 0px;
	padding-top: 4px;
}

div.card img.fltr
{
	float: right;
	margin: 0px 0px 7px 14px;
	padding-top: 4px;
}

div.top
{
	display: block;
	max-width: none;
	font-weight: normal;
	margin-top: 12px;
	color: #000000;
	background: #ffffff;
	border: 1px solid #ffffff;
}

div.address
{
	display: inline-block;
	white-space: nowrap;
	margin: 0px;
}
div.address>*:first-child
{
	margin-top: 0px;
}

div.email
{
	display: inline-block;
}
div.email>span
{
	white-space: nowrap;
}


#addressEN
{
	display: inline-block;
}

#addressDE
{
	display: none;
}

div.fxtr
{
	position: fixed;
	top: 5px;
	right: 5px;
	margin: 0;
	padding: 0;
	z-index: -10;
}

div.fxbr
{
	float: right;
}

a div.card
{
	color: #333333;
	transition: border-color 150ms;
}

a div.card:hover
{
	border-color: #000000;
}
a div.card:active
{
	border-color: #0000FF;
}

div.cent
{
	text-align: center;
}
div.lj
{
	text-align: left;
}

ul.cent
{
	display: inline-block;
	text-align: left;
}

span.title
{
	color: #000000;
	font-weight: bold;
}

div.colophon
{
	position: fixed;
	bottom: 10px;
	right: 62px;
	z-index: -10;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
}

div.nav
{
	text-align: right;
	padding: 0px;
	margin: 0px;
}
div.nav img
{
	float: none;
	vertical-align: bottom;
	margin: 0px;
}
div.nav a:hover
{
	background-color: inherit;
}
div.nav>*
{
	padding-left: 5px;
	padding-right: 5px;
}
div.nav>*:first-child
{
	padding-left: 0px;
}
div.nav>*:last-child
{
	padding-right: 0px;
}

div.snav
{
	position: fixed;
	bottom: 6px;
	z-index: 3;
	margin: 0px;
	padding: 8px;
	color: #BBBBFF;
	background: #6A6ACC;
	background: linear-gradient(to bottom, #6A6ACC, #444488);
	border: none;
	box-shadow: 0px 2px 5px 0 rgba(0,0,0,0.32), 0px 2px 10px 0 rgba(0,0,0,0.24);
	width: 22px;
	height: 22px;
}

div.snav svg
{
	width: 22px;
	height: 22px;
}
div.snav:hover
{
	color: #ffffff;
	background: #BBBBFF;
}
div.snav:active
{
	color: #FFFFFF;
	background: #BBBBFF;
}
div.hp0 { right:  6px; bottom: 6px; }
div.hp1 { right: 55px; bottom: 6px; }
div.hp2 { right: 104px; bottom: 6px; }
div.hp3 { right: 153px; bottom: 6px; }
div.cp0 { right: 11px; bottom: 11px; }
div.cp1 { right: 60px; bottom: 11px; }
div.cp2 { right: 109px; bottom: 11px; }
div.cp3 { right: 158px; bottom: 11px; }

.clear
{
	content: none;
	height: 0px;
	clear: both;
}

#photoframe
{
	display: none;
	position: fixed;
	z-index: 5;
	padding-top: 70px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(10,10,10);
	background-color: rgba(0,0,0,0.93);
}

#photocontent
{
	margin: auto;
	display: block;
	max-width: 100%;
}

#photocaption
{
	margin: auto;
	padding-top: 10px;
	display: block;
	width: 80%;
	text-align: center;
	color: #DDDDDD;
	padding: 10px 0px 10px 0px;
	height: 100px;
	font-style: italic;
}

#photoclose
{
	position: absolute;
	top: 20px;
	right: 20px;
	color: #DDDDDD;
	font-family: sans-serif;
	font-size: 50px;
	font-weight: bold;
	cursor: pointer;
}

div.cardcont, div.mtwo
{
	column-count: 1;
	column-gap: 0px;
}

div.cardcont>a:hover, div.cardcont>a:active
{
	background-color: inherit;
}

div.card>p.title
{
	margin-top: 0px;
}

div.menu
{
	padding: 11px;
	display: block;
	margin-top: 12px;
	width: auto;
	background: #6A6ACC;
	background: linear-gradient(to bottom, #6A6ACC, #444488);
	border: 1px solid #ccccdd;
	text-align: left;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	color: #BBBBFF;
}
div.menu img
{
	float: left;
	padding-top: 7px;
	margin: 11px 22px 11px 11px;
}
div.menu img.wbg
{
	padding: 6px;
        background: #ffffff;
}
div.menu div.lnkbox
{
	padding: 0px 0px 0px 0px;
	margin: 8px 5px 8px 5px;
	text-align: left;
	line-height: 22px;
}
div.menu a
{
	font-weight: bold;
	display: inline-block;
	white-space: nowrap;
	padding: 0px 6px 0px 6px;
	margin: 2px 1px 2px 1px;
	/* background: #ffffff;
	border: 1px solid #000099; */
}
div.menu a:link
{
	color: #BBBBFF;
}
div.menu a:visited
{
	color: #BBBBFF;
}
div.menu a:hover
{
	color: #ffffff;
	background-color: #BBBBFF;
}
div.menu a:active
{
	color: #FFFFFF;
	background-color: #BBBBFF;
}
div.affil
{
	padding: 5px 11px 5px 11px;
}
div.submenu
{
	font-size: 13px;
	line-height: 16px;
	margin: 0px 5px 8px 5px;
}
div.submenu img
{
	float: none;
	padding: 0px;
	margin: 0px;
}

div.title
{
	font-size: 20px;
	line-height: 27px;
	margin: 6px 11px 11px 11px;
	hyphens: none;
}

div.solsep
{
	height: 22px;
}
div.solbot
{
	height: 44px;
}
div.scroller
{
	overflow-x: auto;
}

span.sep
{
        content: none;
        margin-left: 11px;
        width: 0px;
}
div.sep, div.sepi, div.sepii
{
        content: none;
        margin: 0px;
}
div.sep { height: 11px; }
div.sepi { height: 33px; }
div.sepii { height: 99px; }

div.icont
{
	text-align: center;
	overflow-x: auto;
}
div.icont img
{
	vertical-align: middle;
}
div.icont table
{
	display: inline-table;
	vertical-align: middle;
}
table.sym tr, table.sym td, table.sym img
{
	vertical-align: middle;
}
table.sym img
{
	margin: 0px;
	vertical-align: text-bottom;
}
table.sym td
{
	padding-left: 6px;
	padding-right: 6px;
	white-space: nowrap;
}
table.al, td.al
{
	text-align: left;
}
table.ar, td.ar
{
	text-align: right;
}

table.schedule
{
	width: calc(100% - 22px);
	border-collapse: separate;
	border: 1px solid #000000;
}
table.schedule td
{
	padding: 3px 6px 3px 6px;
        vertical-align: top;
	border: 1px solid #000000;
}



div.ccapt
{
	margin-top: 22px;
	text-align: center;
}
div.capt
{
	display: inline-block;
	width: auto;
	max-width: 360px;
	text-align: justify;
	font-style: oblique;
	padding-left: 11px;
	padding-right: 11px;
}
div.nit
{
	font-style: italic;
}

table.ultab, table.ultab tr, table.ultab td
{
	vertical-align: top;
}
table.ultab td
{
	padding: 11px;
}
table.ultab div.ar
{
	text-align: right;
}

div.lnkmenu
{
	width: calc(100% - 58px);
	display: inline-block;
}

div.lnkmenu ul
{
	list-style-type: disc;
	list-style-position: outside;
	padding: 0px 0px 0px 18px;
	margin: 14px 0px 14px 0px;
}
div.lnkmenu li
{
	white-space: normal;
	padding: 0px;
	margin: 0px;
	text-align: left;
}

table.mid tr, table.mid td, table.mid img
{
	vertical-align: middle;
}
table.mid img
{
	margin: 0px;
}
table.mid td
{
	padding: 0px;
}
div.topreg
{
	text-align: center;
	margin-top: 10px;
}
div.topreg ul
{
	display: inline-block;
	vertical-align: middle;
	text-align: left;
	margin: 5px;
	margin-left: 30px;
}
div.topreg img
{
	display: inline-block;
	vertical-align: middle;
	border: none;
	margin: 7px;
}

div.concline
{
	text-align: center;
}
div.concline *
{
	margin-left: 10px;
	margin-right: 10px;
}
div.concline *:first-child
{
	margin-left: 0px;
}
div.concline *:last-child
{
	margin-right: 0px;
}

.nobr
{
	white-space: nowrap;
}

div.hr
{
	margin: 0px;
	padding: 0;
	width: 100%;
	height: 2px;
	background: #000099;
	background: linear-gradient(to right, #FFFFFF 0%, #000099 25%, #000099 75%, #FFFFFF 100%);
}
div.tsp { margin-top: 22px; }
div.tm { margin-top: 7px; }
div.bm { margin-bottom: 7px; }

@media screen and (min-width:  700px) { div.cardcont { column-count: 2; } }
@media screen and (min-width: 1050px) { div.cardcont { column-count: 3; } }
@media screen and (min-width: 1400px) { div.cardcont { column-count: 4; } }

@media screen and (min-width:    0px) { div.mtwo { column-count: 1; } }
@media screen and (min-width: 1000px) { div.mtwo { column-count: 2; } }

@media screen and (min-width:    0px)
{
	div.title { font-size: 14px; line-height: 19px; }
	p.title { font-size: 14px; line-height: 19px; }
	p.ctitle { font-size: 14px; line-height: 19px; }
}
@media screen and (min-width:  300px)
{
	div.title { font-size: 16px; line-height: 21px; }
	p.title { font-size: 16px; line-height: 21px; }
	p.ctitle { font-size: 16px; line-height: 21px; }
}
@media screen and (min-width:  600px)
{
	div.title { font-size: 20px; line-height: 27px; }
	p.title { font-size: 20px; line-height: 27px; }
	p.ctitle { font-size: 20px; line-height: 27px; }
}

@media print
{
	div.colophon, div.snav
	{
		display: none;
	}
	div.cardcont
	{
		column-count: 1;
	}
	div.card
	{
		display: block;
		border: none;
		box-shadow: none;
	}
}
