select
{
	height: 1.8em;
	color: #FFFFFF;
	background-color: #040496;
	border: none;
	font-family: "Courier New", Courier, monospace;
	font-size: inherit;
	font-weight: bold;
	text-align: left;
	cursor: pointer;
}
select:hover
{
	background-color: #3434C6;
}
select.nonnum
{
	font-family: inherit;
}

option
{
	height: 1.2em;
        color: #FFFFFF;
        background-color: #040496;
        font-family: "Courier New", Courier, monospace;
        font-size: inherit;
        font-weight: bold;
        text-align: left;
	cursor: pointer;
}
option:hover
{
	background-color: #3434C6;
}
option.nonnum
{
	font-family: inherit;
}

button
{
	width: 100%;
	height: 1.8em;
	color: #FFFFFF;
	background-color: #040496;
	border: none;
	font-family: inherit;
	font-size: inherit;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
	-webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
}
button:hover
{
	background-color: #3434C6;
}
button:active
{
	background-color: #5555FF;
}
button.pressed
{
	background-color: #3434C6;
}
button.pressed:hover
{
	background-color: #3434C6;
}
button.pressed:active
{
	background-color: #5555FF;
}

input.txt
{
	height: 1.5em;
	color: #000000;
	padding: 2px 5px 2px 5px;
	background-color: #FFFFFF;
	border: 1px solid black;
	border-radius: 0px;
	font-family: "Courier New", Courier, monospace;
	font-size: inherit;
	vertical-align: middle;
	margin: 0px;
}
input.txt:hover
{
        box-shadow: 0px 0px 2px 1px black;
}
input.txt:focus
{
	border-color: #3333DD;
}
input.txt[disabled]
{
	background: #cccccc;
}
input.txt[disabled]:hover
{
        box-shadow: none;
}

textarea
{
	color: #000000;
	background-color: #FFFFFF;
	border: 1px solid black;
	font-family: "Courier New", Courier, monospace;
	font-size: inherit;
}

input[type="radio"]
{
	border: none;
        padding: 0px;
        /* background-color: transparent; */
	cursor: pointer;
	/* margin-right: 3px; */
	-webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
}

input[type="checkbox"]
{
	border: none;
        padding: 0px;
        /* background-color: transparent; */
	cursor: pointer;
	/* margin-right: 3px; */
	-webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
}

input[type="range"]
{
	display: inline;
	height: 10px;
	line-height: 10px;
	padding: 0px;
	margin-left: 0px;
	margin-right: 0px;
	border: none;
        border-radius: 0px;
	cursor: pointer;
        /* background-color: transparent; */
	-webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
}

input[type="radio"]:hover, input[type="checkbox"]:hover
{
	/* box-shadow: 0px 0px 2px 1px black; */
	box-shadow: none;
}

label
{
	padding: 3px 3px 3px 3px;
	-webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
}
label:hover
{
       box-shadow: 0px 0px 2px 1px black;
}

input[type="range"]:hover
{
        box-shadow: 0px 0px 4px 2px black;
}



.select
{
	text-align: center;
	color: #FFFFFF;
	background-color: #040496;
	border: 1px solid black;
	font-family: inherit;
	font-size: inherit;
	font-weight: bold;
	cursor: pointer;
	-webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
}
.select:hover
{
	background-color: #3434C6;
}
.select:active
{
	background-color: #3434C6;
	border: 1px solid black;
}
.selectr1, .selectr1x
{
	color: #000000;
	background-color: #FFFFFF;
	padding: 0px;
}
.selectr0, .selectr0x
{
	color: #000000;
	background-color: #BEBED2;
	padding: 0px;
}
.selectr0:hover, .selectr1:hover
{
	color: #FFFFFF;
	background-color: #040496;
}
.selectr0:active, .selectr1:active
{
	color: #FFFFFF;
	background-color: #2424B6;
}

td
{
	white-space: nowrap;
	vertical-align: middle;
}

table.slvcont
{
	padding: 5px;
	color: #000000;
	background-color: #BEBED2;
	border: 1px solid black;
	display: inline-table;
	vertical-align: bottom;
	margin: 10px;
}

table.slvpart
{
	width: 100%;
	padding: 10px;
	border-spacing: 5px;
	background-color: #BEBED2;
	border: none;
}

td.slvpart
{
	width: 90%;
	margin: 15px;
	border-spacing: 5px;
	background-color: #BEBED2;
}

td.coord
{
	padding: 2px;
	text-align: left;
}

td.lc
{
	padding: 2px 4px 2px 4px;
	text-align: center;
}

span.clckab:hover
{
        box-shadow: 0px 0px 2px 1px black;
}

.selectr0 td, .selectr0x td, .selectr1 td, .selectr1x td
{
	vertical-align: baseline;
}
