<!-- ////////////////////////////////////////////
Parameters Panel
//////////////////////////////////////////// -->
<!-- Simulation Parameters  -->
<div class="row" >
  <div class="theta_phi" >
    <a class="popup" ng-click="expand['sim']=!expand['sim']" ng-mouseenter="showIt('expand_sim')" ng-mouseleave="hideIt('expand_sim')" style="float:right;bottom:5px">
      <span ng-class="{'glyphicon glyphicon-chevron-down':!expand['sim'],'glyphicon glyphicon-chevron-up':expand['sim']}">
        <span class="popuptext" style="" ng-show="popup['expand_sim']" ng-bind="expand_str[expand['sim']]"></span>
      </span>
    </a>
    <div style="font-size:14px;margin-bottom:5px;">Simulation parameters :</div>
    <table style="margin-left: 10px;" ng-show="expand['sim']">
    <tr><td>
    <table>
      <!-- keV -->
      <tr>
        <td class="td-in">
          <span>keV</span>
          <span class="popup glyphicon glyphicon-question-sign bloch_info" ng-mouseenter="popup['keV']=true" ng-mouseleave="popup['keV']=false" >
            <span class="popuptext" ng-show="popup['keV']"> beam energy </span>
          </span>
        </td>
        <td class="td-in popup">
          <input ng-show="show_keV" type="number" min="1" max="1000" ng-model="bloch['keV']" class="bloch_input" ng-key-enter="update_bloch()" ng-change="bloch_solve_reset()">
          <span  ng-hide="show_keV" ng-bind="bloch['keV']" ng-dblclick="show_keV=true"></span>
        </td>
        <td class="td-in" ng-show="show_keV">
          <a class="btn-sm btn-primary popup" ng-click="show_keV=false" ng-mouseenter="showIt('lock_keV')" ng-mouseleave="hideIt('lock_keV')" style="margin-left: 7px;">
            <span class="glyphicon glyphicon-lock" />
            <span class="popuptext" style="" ng-show="popup['lock_keV']">
              Lock keV parameter to experiment </span>
          </a>
        </td>
      </tr>
      <!-- Nmax -->
      <tr ng-show="!bloch['felix'] && !bloch['gemmi']">
        <td class="td-in">
          <span href="" ng-dblclick="bloch['gemmi']=true">Nmax</span>
          <span class="popup glyphicon glyphicon-question-sign bloch_info" ng-mouseenter="popup['Nmax']=true" ng-mouseleave="popup['Nmax']=false" >
            <span class="popuptext" ng-show="popup['Nmax']"> Largest reflection would be (Nmax,Nmax,Nmax). <br>Double click to specify resolution instead.</span>
          </span>
        </td>
        <td class="td-in">
          <input type="number" min="0" max="30" ng-model="bloch['Nmax']" class="bloch_input" ng-key-enter="update_bloch()" ng-change="bloch_solve_reset()">
        </td>
      </tr>
      <!-- dmin -->
      <tr ng-show="!bloch['felix'] && bloch['gemmi']">
        <td class="td-in">
          <span href="" ng-dblclick="bloch['gemmi']=false">dmin</span>
          <span class="popup glyphicon glyphicon-question-sign bloch_info" ng-mouseenter="popup['dmin']=true" ng-mouseleave="popup['dmin']=false" >
            <span class="popuptext" ng-show="popup['dmin']"> Maximum resolution specification(result might be quite different).<br>Double click to specify Nmax </span>
          </span>
        </td>
        <td class="td-in">
          <input type="number" min="0.25" max="3" ng-model="bloch['dmin']" class="bloch_input" ng-key-enter="update_bloch()" ng-change="bloch_solve_reset()">
        </td>
      </tr>
      <!-- Smax -->
      <tr ng-hide="bloch['felix']">
        <td class="td-in">
          <span> Smax </span>
          <span class="popup glyphicon glyphicon-question-sign bloch_info" ng-mouseenter="popup['Smax']=true" ng-mouseleave="popup['Smax']=false" >
            <span class="popuptext" ng-show="popup['Smax']"> Maximum excitation error </span>
          </span>
        </td>
        <td class="td-in">
          <input type="number" min="0.000001" max="1" ng-model="bloch['Smax']" class="bloch_input" ng-key-enter="update_bloch()" ng-change="bloch_solve_reset()">
        </td>
      </tr>
      <!-- nbeams -->
      <tr ng-show="bloch['felix']">
        <td class="td-in">
          <span> nbeams </span>
          <span class="popup glyphicon glyphicon-question-sign bloch_info" ng-mouseenter="popup['nbeams']=true" ng-mouseleave="popup['nbeams']=false" >
            <span class="popuptext" ng-show="popup['nbeams']"> Number of beams to include </span>
          </span>
        </td>
        <td class="td-in">
          <input type="number" min="1" max="2000" ng-model="bloch['nbeams']" class="bloch_input" ng-key-enter="update_bloch()" ng-change="bloch_solve_reset()">
        </td>
      </tr>
    <!-- FELIX option -->
    </table></td>
    <td class="td-in" style="width:35%" ng-show="false">
      <div style="width: 60%;margin:5px"><img src="/static/images/felix.png"/></div>
      <input type="checkbox" ng-model="bloch['felix']" ng-change="toggle_felix()"/>
      <span>  Felix </span>
      <span class="popup glyphicon glyphicon-question-sign bloch_info" ng-mouseenter="popup['felix']=true" ng-mouseleave="popup['felix']=false">
        <span class="popuptext" ng-show="popup['felix']"> Use <a style="color: #1431ea;" href=https://github.com/rbeanland/Felix> Felix </a> solver </span>
      </span>
    </td>
    </tr></table>
    <!-- <div> -->
  </div>
</div>

<!-- Orientation u -->
<div class="row">
  <div class="theta_phi">
    <a class="popup" ng-click="expand['u']=!expand['u']" ng-mouseenter="showIt('expand_u')" ng-mouseleave="hideIt('expand_u')" style="float:right;bottom:5px">
      <span ng-class="{'glyphicon glyphicon-chevron-down':!expand['u'],'glyphicon glyphicon-chevron-up':expand['u']}">
        <span class="popuptext" style="" ng-show="popup['expand_u']" ng-bind="expand_str[expand['u']]"></span>
      </span>
    </a>
    <div style="font-size:14px;margin-bottom:5px;">Beam orientation :</div>
    <div ng-show="expand['u']">

      <!-- buttons -->
      <div class="row" style="margin-bottom: 10px">
        <span ng-show="dat['pets']">
          <a class="btn-sm btn-primary popup" ng-click="toggle_manual_mode()" ng-mouseenter="showIt('manual')" ng-mouseleave="hideIt('manual')" style="margin-left: 7px;">
            <span ng-class="{'glyphicon glyphicon-wrench':!info.modes['manual'],'glyphicon glyphicon-lock':info.modes['manual']}" />
            <span class="popuptext" style="" ng-show="popup['manual']">
              <div ng-show="info.modes['manual']"> Lock u to experimental frames  </div>
              <div ng-hide="info.modes['manual']"> Set u manually   </div></span>
          </a>
        </span>
        <span ng-show="info.modes['manual']" style="margin-left:5px;">
          <a class="btn-sm btn-primary popup" ng-style="u_style['edit']" ng-click="set_u_mode('edit')" ng-mouseenter="showIt('u_edit')" ng-mouseleave="hideIt('u_edit')">
            <span class="glyphicon glyphicon-pencil" />
            <span class="popuptext" style="" ng-show="popup['u_edit']"> Edit u manually  </span>
          </a>
          <a class="btn-sm btn-primary popup" ng-style="u_style['move']" ng-click="set_u_mode('move')" ng-mouseenter="showIt('u_move')" ng-mouseleave="hideIt('u_move')">
            <span class="glyphicon glyphicon-move" />
            <span class="popuptext" style="" ng-show="popup['u_move']"> Change Euler angles of u using arrows  </span>
          </a>
          <a class="btn-sm btn-primary popup" ng-style="u_style['rock']" ng-click="set_u_mode('rock')" ng-mouseenter="showIt('u_rock')" ng-mouseleave="hideIt('u_rock')">
            <span class="gg-icon gg-spectrum" ></span>
            <span class="popuptext" style="" ng-show="popup['u_rock']"> Set rocking curve for u </span>
          </a>
        </span>
        <a class="btn-sm btn-primary popup" ng-click="show_u()" ng-mouseenter="showIt('u_show')" ng-mouseleave="hideIt('u_show')" style="float:right;right:15px;" >
          <span class="glyphicon glyphicon-eye-open" />
          <span class="popuptext" style="" ng-show="popup['u_show']"> Show u orientation  </span>
        </a>
      </div>

      <!-- frame mode or edit mode -->
      <div class="bloch_param" ng-hide="info.modes['manual'] && info.modes['u']!='edit'">
          <span> u </span>
          <span class="popup glyphicon glyphicon-question-sign bloch_info" ng-mouseenter="popup['u_info']=true" ng-mouseleave="popup['u_info']=false">
            <span class="popuptext" ng-show="popup['u_info']"> Beam orientation based on experimental frame </span>
          </span>
          <span> = </span>
          <span  ng-show="!info.modes['manual']"                      ng-bind="bloch['u']" ></span>
          <input ng-show="info.modes['manual'] && info.modes['u']=='edit'" ng-model="bloch['u']" ng-key-enter="update_bloch()" ng-change="bloch_solve_reset()" type="text" class="bloch_input" style="width:180px" >
      </div>

      <!-- move mode-->
      <div ng-show="info.modes['manual'] && info.modes['u']=='move'" >
        <span style="float:right;"class="popup glyphicon glyphicon-question-sign " ng-mouseenter="popup['rot_help']=true" ng-mouseleave="popup['rot_help']=false">
          <div class="popuptext" style=";width:200px;text-align:left" ng-show="popup['rot_help']">
            <div> click on the hand and press hotkeys :
              <br> &nbsp left  : decrement phi
              <br> &nbsp right : increment phi
              <br> &nbsp down  : decrement theta
              <br> &nbsp up    : increment theta
              <br> &nbsp pagedown  : increase dt
              <br> &nbsp pageup    : decrease dt
              <br> &nbsp backspace : reset rate
              <br> &nbsp Enter : solve intensities
              <br> For theta,phi and dt :
              <br> &nbsp double-click : set the input value manually
              <br> &nbsp press Enter to validate
            </div>
          </div>
        </span>
        <div style="font-size:14px;margin-bottom:5px;">Orientation tweaking :
          <a tabindex="1" ng-keydown="theta_phi_cb($event)" class="btn-sm btn-primary" style="margin-right:0px;margin-left:0px" ng-click="popup['move_thick']=false" >
            <span class='glyphicon glyphicon-hand-down' />
          </a>
        </div>
        <table style="margin-left: 20px;" >
          <tr><td class="td-in"> u     </td><td> = </td><td class="td-in"> <span ng-bind="bloch['u']"></span></td></tr>
          <tr><td class="td-in"> theta </td><td> = </td><td class="td-in"> <span ng-hide="input['theta']" ng-bind="theta_phi[0]" ng-dblclick="input['theta']=true">deg</span> <input class="long_input" ng-show="input['theta']" ng-model="theta_phi[0]" ng-key-enter="set_input('theta','move')"></td></tr>
          <tr><td class="td-in"> phi   </td><td> = </td><td class="td-in"> <span ng-hide="input['phi']"   ng-bind="theta_phi[1]" ng-dblclick="input['phi']=true"  >deg</span> <input class="long_input" ng-show="input['phi']"   ng-model="theta_phi[1]" ng-key-enter="set_input('phi'  ,'move')"  ></td></tr>
          <tr><td class="td-in"> dt    </td><td> = </td><td class="td-in"> <span ng-hide="input['dtp']"   ng-bind="dtheta_phi"   ng-dblclick="input['dtp']=true"  >deg</span> <input class="long_input" ng-show="input['dtp']"   ng-model="dtheta_phi"   ng-key-enter="set_input('dtp'  ,'move')"  ></td></tr>
        </table>
      </div>

      <!-- rock mode -->
      <div ng-show="info.modes['manual'] && info.modes['u']=='rock'" class="">
        <span style="float:right;" class="popup glyphicon glyphicon-question-sign " ng-mouseenter="popup['rock_help']=true" ng-mouseleave="popup['rock_help']=false">
          <div class="popuptext" style=";width:200px;text-align:left" ng-show="popup['rock_help']">
            <div> Rocking curve settings  :
              <br> &nbsp u0   : initial orientation
              <br> &nbsp u1   : last orientation
              <br> &nbsp npts : number of orientation vectors
            </div>
          </div>
        </span>
        <div style="font-size:14px;margin-bottom:5px;">Rocking curve settings : </div>
        <table style="margin-left: 20px;">
          <tr><td class="td-in"> u0   </td><td class="td-in"> = </td>
            <td> <input class="long_input" ng-change="rock_reset()" ng-model="rock['u0']"  ></td>
            <td class="td-in" ng-show="dat['pets']">
              <a class="btn-sm btn-primary popup" ng-click="set_rock(0)" ng-mouseenter="showIt('rock_set_0')" ng-mouseleave="hideIt('rock_set_0')">
                <span class="glyphicon glyphicon-pushpin"/>
                <span class="popuptext" style="" ng-show="popup['rock_set_0']"> Assign u0 to current experimental frame </span>
              </a>
            </td>
          </tr>
          <tr><td class="td-in"> u1   </td><td class="td-in"> = </td>
            <td> <input class="long_input"  ng-change="rock_reset()" ng-model="rock['u1']"  ></td>
            <td class="td-in" ng-show="dat['pets']">
              <a class="btn-sm btn-primary popup" ng-click="set_rock(1)" ng-mouseenter="showIt('rock_set_1')" ng-mouseleave="hideIt('rock_set_1')">
                <span class="glyphicon glyphicon-pushpin"/>
                <span class="popuptext" style="" ng-show="popup['rock_set_1']"> Assign u1 to current experimental frame </span>
              </a>
            </td>
          </tr>
          <tr><td class="td-in"> npts </td><td class="td-in"> = </td>
            <td> <input class="bloch_input"  ng-change="rock_reset()" ng-model="rock['nframes']" ng-key-enter="solve_rock()" type="number" min="2" max="100"></td>
            <td class="td-in" ng-show="dat['pets']">
              <a class="btn-sm btn-primary popup" ng-click="set_rock(2)" ng-mouseenter="showIt('rock_set')" ng-mouseleave="hideIt('rock_set')">
                <span class="gg-icon gg-path-back" />
                <span class="popuptext" style="" ng-show="popup['rock_set']"> Assign u0,u1 from current experimental frame </span>
              </a>
            </td>
          </tr>
          <tr><td class="td-in"> nbs  </td><td class="td-in"> = </td><td> <span ng-bind="nrock_beams" ></span></td></tr>
        </table>
        <!-- rock solve button-->
        <div class="btn-sm btn-primary rock_solve_param" ng-click="solve_rock()" ng-style="rock_style">
          {a solve_rock_btn a}
        </div>
        <div ng-show="rock_state=='done'">
          <a class="btn-sm btn-primary btn-rock" ng-click="set_rock_sim('i');">
            <span class="glyphicon glyphicon-fast-backward"></span >
          </a>
          <a class="btn-sm btn-primary btn-rock" ng-click="set_rock_sim('-')">
            <span class="glyphicon glyphicon-step-backward"></span >
          </a>
          <span style="margin-left:5px" >
            <span  tabindex="1" class="btn-sm btn-primary" ng-keydown="update_rock_sim($event)" ng-hide="input['rock_sim']" ng-bind="sim_rock" ng-dblclick="input['rock_sim']=true" ></span>
            <input ng-show="input['rock_sim']" ng-model="sim_rock" ng-key-enter="set_input('rock_sim','rock')" style="width:30px;">
          </span>
          <a class="btn-sm btn-primary btn-rock" ng-click="set_rock_sim('+')">
            <span class="glyphicon glyphicon-step-forward"></span >
          </a>
          <a class="btn-sm btn-primary btn-rock" ng-click="set_rock_sim('f')">
            <span class="glyphicon glyphicon-fast-forward"></span >
          </a>
          <!--  show rocking curve -->
          <a class="btn btn-primary myBtn-sm popup" style="border-width:2px;margin-left:5px;"  ng-click="show_rock()" ng-mouseenter="popup['show_rock']=true" ng-mouseleave="popup['show_rock']=false">
            <img style="width: 90%;" src="/static/images/beam_vs_thick.png"/>
            <span class="popuptext" ng-show="popup['show_rock']"> Show rocking curve </span>
          </a>
          <a class="btn btn-primary myBtn-sm popup" style="border-width:2px;"  ng-click="all_rock_sim()" ng-mouseenter="popup['show_rock_int']=true" ng-mouseleave="popup['show_rock_int']=false">
            all
            <span class="popuptext" ng-show="popup['show_rock_int']"> Overlay rocking curve patterns </span>
          </a>
        </div><!-- done buttons -->
      </div><!-- rock mode -->

    </div><!-- expand['u'] -->
  </div><!-- theta_phi -->
</div><!-- u -->

<!-- solve button -->
<div class="row " ng-hide="info.modes['manual'] && info.modes['u']=='rock'">
  <table style="margin-left: 5px;"><tr>
    <td class="td-in" style="width: 50%;">
      <div class="btn-sm btn-primary bloch_solve_param"  ng-click="update_bloch()" ng-style="bloch_solve_style" ng-bind="bloch_solve_btn"></div>
    </td>
    <td class="" ng-show="dat['pets']">
      <a class="btn-sm btn-primary popup" ng-click="expand['omega']=!expand['omega']" ng-mouseenter="showIt('omega_show')" ng-mouseleave="hideIt('omega_show')">
        <span class="glyphicon glyphicon-repeat" />
        <span class="popuptext" style="" ng-show="popup['omega_show']"> set in-plane rotation angle omega  </span>
      </a>
    </td>
    <td class="td-in" style="font-size:13px">
      <span>nbs = </span>
      <span ng-bind="nbeams"></span>
      <span class="popup glyphicon glyphicon-question-sign bloch_info" ng-mouseenter="popup['nbms']=true" ng-mouseleave="popup['nbms']=false" >
        <span class="popuptext" ng-show="popup['nbms']"> Number of beams (size of the bloch matrix) </span>
      </span>
      <!-- <span> = </span> -->
    </td>
  </tr></table>
</div>

<!-- omega -->
<div class="row" ng-show="expand['omega']">
  <div class="bloch_param" >
    <span> omega </span>
    <span class="popup glyphicon glyphicon-question-sign bloch_info" ng-mouseenter="popup['omega']=true" ng-mouseleave="popup['omega']=false">
      <span class="popuptext" ng-show="popup['omega']"> In-plane rotation angle for experimental data (change to align it with expected reflections)</span>
    </span>
    <span> = </span>
    <input type="number" min="0" max="360" ng-model="info.omega" class="bloch_input"  ng-keypress="update_omega($event)">
  </div>
</div>

<!-- thickness dependence-->
<div class="row" >
  <div class="theta_phi">
    <a class="popup" ng-click="expand['thick']=!expand['thick']" ng-mouseenter="showIt('expand_thick')" ng-mouseleave="hideIt('expand_thick')" style="float:right;bottom:5px">
      <span ng-class="{'glyphicon glyphicon-chevron-down':!expand['thick'],'glyphicon glyphicon-chevron-up':expand['thick']}">
        <span class="popuptext" style="" ng-show="popup['expand_thick']" ng-bind="expand_str[expand['thick']]"></span>
      </span>
    </a>
    <div style="font-size:14px;margin-bottom:5px;">Thickness parameters :</div>
    <table style="margin-left: 10px;" ng-show="expand['thick']">
      <tr>
        <td class="td-in popup" ng-mouseenter="popup['thick']=true" ng-mouseleave="popup['thick']=false">
          Thickness
          <span class="popuptext" ng-show="popup['thick']"> sample thickness (Angstrom)</span>
        </td>
        <td class="td-in">
          <input ng-keypress="update_thickness($event)" type="number" min="0" ng-model="bloch['thick']" class="mid_input"></td>
        <td>
          <a tabindex="1" ng-keydown="update_thickness($event)" class="btn-sm btn-primary" style="margin-right:0px;margin-left:0px" ng-click="popup['move_thick']=false" >
            <span class='glyphicon glyphicon-hand-down' />
          </a>
          <span class="popup glyphicon glyphicon-question-sign" ng-mouseenter="popup['move_thick']=true" ng-mouseleave="popup['move_thick']=false" style="top:-10px;">
            <span ng-show="popup['move_thick']" class="popuptext" style=";width:270px;text-align:left;font-size:14px" >
              <b>Click on hand button and use keys :</b>
              <br> &nbsp; arrows   : increase/decrease thickness
              <br> &nbsp;&nbsp; up/down    : by dthick
              <br> &nbsp;&nbsp; left/right : by 10*dthick
              <br> &nbsp; pageup    : decrease dthick
              <br> &nbsp; pagedown  : increase dthick
              <br> &nbsp; backspace : reset dthick to 5A
              <br> <b>where : </b>
              <br> &nbsp; dthick is the thickness increment
              <br> &nbsp; dthick=<span ng-bind="dthick"></span>A
            </span>
        </td>
      </tr>
      <tr>
        <td class="td-in popup" ng-mouseenter="popup['thicks']=true" ng-mouseleave="popup['thicks']=false">
          Range
          <span class="popuptext" ng-show="popup['thicks']"> Thickness range for beam vs thickness (t0,t1,npts)  </span>
        </td>
        <td class="td-in">
          <input ng-key-enter="beam_vs_thickness()" type="text" ng-model="bloch['thicks']"  class="mid_input">
        </td>
        <td>
          <a class="btn btn-primary myBtn-sm" style="border-width:2px;" ng-click="beam_vs_thickness()">
            <img style="width: 90%;" src="/static/images/beam_vs_thick.png"/>
          </a>
          <span class="popup glyphicon glyphicon-question-sign" ng-mouseenter="popup['beams_thick']=true" ng-mouseleave="popup['beams_thick']=false" style="top:-10px;">
          <span class="popuptext" ng-show="popup['beams_thick']"> Show beam vs thickness (init_thick,final_thick,nb_points) </span>
        </td>
      </tr>
    </table>
  </div>
</div>

<!-- miller indices table -->
<div class="row">
  <div class="theta_phi">
    <a class="popup" ng-click="expand['refl']=!expand['refl']" ng-mouseenter="showIt('expand_refl')" ng-mouseleave="hideIt('expand_refl')" style="float:right;bottom:5px">
      <span ng-class="{'glyphicon glyphicon-chevron-down':!expand['refl'],'glyphicon glyphicon-chevron-up':expand['refl']}" >
        <span class="popuptext" style="" ng-show="popup['expand_refl']" ng-bind="expand_str[expand['refl']]"></span>
      </span>
    </a>
    <div style="font-size:14px;margin-bottom:5px;">Selected reflections
      <span class="popup glyphicon glyphicon-question-sign" ng-mouseenter="popup['sel_refl']=true" ng-mouseleave="popup['sel_refl']=false" >
        <span ng-show="popup['sel_refl']" class="popuptext" style=";width:270px;text-align:left;font-size:14px" >
          <b> Click on diffraction pattern to select reflections : </b>
          <br>These are used for displaying :
          <br> &nbsp;&nbsp;beam_vs_thickness
          <br> &nbsp;&nbsp;rocking curves

        </span>
      </span>
    </div>
    <div id='table_miller' ng-show="expand['refl']">
      <table  id="table_Miller_indices"  border="1" cellpadding="2">
        <tr>
            <th></th>
            <th><b>miller_indices</b></th>
        </tr>
      </table>
    </div>
  </div>
</div>
