<table>
  <tr>
    <td>
      <a class="btn-sm btn-primary popup" style="margin-right:3px" ng-click="toggle_mode('single')" ng-mouseenter="showIt('single_mode')" ng-mouseleave="hideIt('single_mode')">
        <span ng-class="{'glyphicon glyphicon-duplicate':info.modes.single,'glyphicon glyphicon-file':!info.modes.single}" />
        <span class="popuptext" style="" ng-show="popup['single_mode']"> toggle single/dual mode </span>
      </a>
      <span>max res (recA)                    : <input class="sm_input" type="number"   ng-model="info.max_res" min="0"  ng-key-enter="set_max_res()"></span>
      <span>&nbsp; rings spacing (recA)       : <input class="sm_input" type="number"   ng-model="info.dq_ring" min="0"  ng-key-enter="set_ring_spacing()"></span>
      <span ng-if="dat['pets']" style="margin-left:5px">
          <span style="margin-right:-15px" > pixels : </span>
          <input class="sm_input" type="checkbox" ng-model="info.modes['is_px']" ng-click="toggle_mode('is_px')">
      </span>
      <span ng-if="dat['pets']" style="margin-left:-10px">
          <span style="margin-right:-15px" > reversed : </span>
          <input class="sm_input" type="checkbox" ng-model="info.modes['reversed']" ng-click="toggle_mode('reversed')">
      </span>
    </td>
    <td ng-hide="info.modes.single">
      <span>
        <span>graph : </span>
        <select ng-model="info.graph" ng-options="x for (x,y) in info.graphs" ng-change="update_graph()"></select>
      </span>
      <span ng-if="dat['rock']" ng-show="info.graph=='rock'" style="margin-left:10px">
          <span > exp rock : </span>
          <input style="margin-left:-10px" class="sm_input" type="checkbox" ng-model="info.modes['exp_rock']" ng-click="toggle_exp_rock()">
      </span>
      <span ng-show="info.graph=='rock' && !info.modes['exp_rock']" style="margin-left:10px">
        <span> x axis : </span>
        <select ng-model="info.modes.rock_x" ng-options="x for (x,y) in info.rock_axis" ng-change="change_rock_x()"></select>
      </span>
    </td>
  </tr>

  <!-- figs -->
  <tr>
    <td>
      <div id="plotly_div" style="width:100%;margin:5px;border-style:solid;float:left" >
        <line-plot id=fig1 fig="fig1">
      </div>
    </td>
    <td ng-hide="info.modes.single">
      <div style="width:100%;margin:5px;border-style:solid;float:right" >
        <line-plot id=fig2 fig="fig2">
      </div>
    </td>
  </tr>
</table>
