<!-- ////////////////////////////////////////////
Parameters Panel
//////////////////////////////////////////// -->
<!-- Simulation Parameters  -->
<div class="row" >
  <div class="theta_phi" >
    <a class="popup" ng-click="expand_bloch['sim']=!expand_bloch['sim']" ng-mouseenter="showIt('expand_sim')" ng-mouseleave="hideIt('expand_sim')" style="float:right;bottom:5px">
      <span ng-class="{'glyphicon glyphicon-chevron-down':!expand_bloch['sim'],'glyphicon glyphicon-chevron-up':expand_bloch['sim']}">
        <span class="popuptext" style="" ng-show="popup['expand_sim']" ng-bind="expand_str[expand_bloch['sim']]"></span>
      </span>
    </a>
    <div style="font-size:14px;margin-bottom:5px;">Simulation parameters :</div>
    <table style="margin-left: 10px;" ng-show="expand_bloch['sim']">
    <tr><td>
    <table>
      <!-- keV -->
      <tr>
        <td class="td-in">
          <span>keV</span>
          <span class="popup glyphicon glyphicon-question-sign bloch_info" ng-mouseenter="popup['keV']=true" ng-mouseleave="popup['keV']=false" >
            <span class="popuptext" ng-show="popup['keV']"> beam energy </span>
          </span>
        </td>
        <td class="td-in popup">
          <input ng-show="show_keV" type="number" min="1" max="1000" ng-model="bloch['keV']" class="bloch_input" ng-key-enter="update_bloch()" ng-change="bloch_solve_reset()">
          <span  ng-hide="show_keV" ng-bind="bloch['keV']" ng-dblclick="show_keV=true"></span>
        </td>
        <td class="td-in" ng-show="show_keV">
          <a class="btn-sm btn-primary popup" ng-click="show_keV=false" ng-mouseenter="showIt('lock_keV')" ng-mouseleave="hideIt('lock_keV')" style="margin-left: 7px;">
            <span class="glyphicon glyphicon-lock" />
            <span class="popuptext" style="" ng-show="popup['lock_keV']">
              Lock keV parameter to experiment </span>
          </a>
        </td>
      </tr>
      <!-- Nmax -->
      <tr ng-show="!bloch['felix'] && !bloch['gemmi']">
        <td class="td-in">
          <span href="" ng-dblclick="bloch['gemmi']=true">Nmax</span>
          <span class="popup glyphicon glyphicon-question-sign bloch_info" ng-mouseenter="popup['Nmax']=true" ng-mouseleave="popup['Nmax']=false" >
            <span class="popuptext" ng-show="popup['Nmax']"> Largest reflection would be (Nmax,Nmax,Nmax).</span>
          </span>
        </td>
        <td class="td-in">
          <input type="number" min="1" max="30" ng-model="bloch['Nmax']" class="bloch_input" ng-key-enter="update_bloch()" ng-change="update_Nmax()">
        </td>
        <td class="td-in">dmin : <span ng-bind="dmin_str"/></td>
      </tr>
      <!-- dmin -->
      <tr ng-show="!bloch['felix'] && bloch['gemmi']">
        <td class="td-in">
          <span href="" ng-dblclick="bloch['gemmi']=false">dmin</span>
          <span class="popup glyphicon glyphicon-question-sign bloch_info" ng-mouseenter="popup['dmin']=true" ng-mouseleave="popup['dmin']=false" >
            <span class="popuptext" ng-show="popup['dmin']"> Maximum resolution specification (in Angstrom) for the largest possible reflection to be included in the simulation.<br> Resolution is not guaranteed as it depends on excitation error.
          </span>
        </td>
        <td class="td-in">
          <input type="number" min="0.1" max="3" ng-model="bloch['dmin']" class="bloch_input" ng-key-enter="update_bloch()" ng-change="update_Nmax()">
        </td>
        <td class="td-in">Nmax : <span ng-bind="bloch['Nmax']"/></td>
      </tr>
      <!-- Smax -->
      <tr ng-hide="bloch['felix']">
        <td class="td-in">
          <span> Smax </span>
          <span class="popup glyphicon glyphicon-question-sign bloch_info" ng-mouseenter="popup['Smax']=true" ng-mouseleave="popup['Smax']=false" >
            <span class="popuptext" ng-show="popup['Smax']"> Maximum excitation error </span>
          </span>
        </td>
        <td class="td-in">
          <input type="number" min="0.0001" max="1" ng-model="bloch['Smax']" class="bloch_input" ng-key-enter="update_bloch()" ng-change="bloch_solve_reset()">
        </td>
      </tr>
      <!-- nbeams -->
      <tr ng-show="bloch['felix']">
        <td class="td-in">
          <span> nbeams </span>
          <span class="popup glyphicon glyphicon-question-sign bloch_info" ng-mouseenter="popup['nbeams']=true" ng-mouseleave="popup['nbeams']=false" >
            <span class="popuptext" ng-show="popup['nbeams']"> Number of beams to include </span>
          </span>
        </td>
        <td class="td-in">
          <input type="number" min="1" max="2000" ng-model="bloch['nbeams']" class="bloch_input" ng-key-enter="update_bloch()" ng-change="bloch_solve_reset()">
        </td>
      </tr>
    <!-- FELIX option -->
    </table></td>
    <td class="td-in" style="width:35%" ng-show="false">
      <div style="width: 60%;margin:5px"><img src="/static/images/felix.png"/></div>
      <input type="checkbox" ng-model="bloch['felix']" ng-change="toggle_felix()"/>
      <span>  Felix </span>
      <span class="popup glyphicon glyphicon-question-sign bloch_info" ng-mouseenter="popup['felix']=true" ng-mouseleave="popup['felix']=false">
        <span class="popuptext" ng-show="popup['felix']"> Use <a style="color: #1431ea;" href=https://github.com/rbeanland/Felix> Felix </a> solver </span>
      </span>
    </td>
    </tr></table>
    <!-- <div> -->
  </div>
</div>

<!-- Orientation u -->
<div class="row">
  <div class="theta_phi">
    <a class="popup" ng-click="expand_bloch['u']=!expand_bloch['u']" ng-mouseenter="showIt('expand_u')" ng-mouseleave="hideIt('expand_u')" style="float:right;bottom:5px">
      <span ng-class="{'glyphicon glyphicon-chevron-down':!expand_bloch['u'],'glyphicon glyphicon-chevron-up':expand_bloch['u']}">
        <span class="popuptext" style="" ng-show="popup['expand_u']" ng-bind="expand_str[expand_bloch['u']]"></span>
      </span>
    </a>
    <div style="font-size:14px;margin-bottom:5px;">Beam orientation :</div>
    <div ng-show="expand_bloch['u']">

      <!-- orientation  -->
      <div style="padding-bottom:5px;" >
          <span> $\mathbf u_{sim}$ </span>
          <span> = </span>
          <span ng-bind="bloch['u']" ></span>
          <span class="popup glyphicon glyphicon-question-sign bloch_info" ng-mouseenter="popup['u_info']=true" ng-mouseleave="popup['u_info']=false">
            <span class="popuptext" ng-show="popup['u_info']"> Beam orientation for the simulation, i.e. coordinates of the incident beam in reciprocal space.</span>
          </span>
      </div>

      <!-- buttons -->
      <div class="row" style="display: flex;margin-bottom:10px;margin-left:-5px;margin-top:5px">
        <a id="u_single" ng-style="u_style['single']"  class=" btn-sm btn-primary btn_u popup" ng-click="set_mode('u','single')" ng-mouseenter="showIt('show_u_single')" ng-mouseleave="hideIt('show_u_single')" >
          <span class="gg-icon gg-arrow-down"></span >
          <span class="popuptext" ng-show="popup['show_u_single']"> Single mode for u </span>
        </a>
        <a id="u_rock" class=" btn-sm btn-primary btn_u popup" ng-style="u_style['rock']" ng-click="set_mode('u','rock')" ng-mouseenter="showIt('show_u_rock')" ng-mouseleave="hideIt('show_u_rock')" >
          <span class="gg-icon gg-spectrum" style="margin-left:2px;"></span>
          <span class="popuptext" ng-show="popup['show_u_rock']"> Rocking curve mode </span>
        </a>
        <!-- <a id="u_lacbed" class=" btn-sm btn-primary btn_u popup" ng-style="u_style['lacbed']" ng-click="set_mode('u','lacbed')" ng-mouseenter="showIt('show_u_lacbed')" ng-mouseleave="hideIt('show_u_lacbed')">
          <span class="gg-icon gg-shape-circle" style="border:solid 8px;"></span>
          <span class="popuptext" ng-show="popup['show_u_lacbed']"> Set lacbed pattern for u </span>
        </a> -->
        <!-- <a class="btn-sm btn-primary popup" ng-click="show_u()" ng-mouseenter="showIt('u_show')" ng-mouseleave="hideIt('u_show')" style="float:right;right:15px;" >
          <span class="glyphicon glyphicon-eye-open" />
          <span class="popuptext" style="" ng-show="popup['u_show']"> Show u orientation  </span>
        </a> -->
      </div> <!-- buttons -->


      <!-- Single mode  -->
      <div ng-show="info.modes['u']=='single'" style="margin-bottom: 10px;">
        <!-- buttons -->
        <div class="row" style="margin-left:5px">
          <span style="margin-left: 0px;"ng-show="dat['pets']">
            <a id="u_auto" class="popup btn-sm btn-primary " ng-style="u0_style['auto']" ng-click="set_mode('u0','auto')" ng-mouseenter="showIt('show_u_auto')" ng-mouseleave="hideIt('show_u_auto')" >
              <span class="glyphicon glyphicon-lock" ></span>
              <span class="popuptext" style="" ng-show="popup['show_u_auto']"> Lock u to experimental frames  </span>
            </a>
          </span>
          <span style="margin-left:0px;">
            <a id="u_edit" class="popup btn-sm btn-primary" ng-style="u0_style['edit']" ng-click="set_mode('u0','edit')" ng-mouseenter="showIt('show_u_edit')" ng-mouseleave="hideIt('show_u_edit')" >
              <span class="glyphicon glyphicon-pencil" />
              <div class="popuptext" style="" ng-show="popup['show_u_edit']"> Edit u manually  </div>
            </a>
          </span>
          <span style="margin-left:0px;">
            <span id="u_move" class="popup btn-sm btn-primary" ng-style="u0_style['move']" ng-click="set_mode('u0','move')" ng-mouseenter="showIt('show_u_move')" ng-mouseleave="hideIt('show_u_move')" >
              <span class="glyphicon glyphicon-move" />
              <div class="popuptext" style="" ng-show="popup['show_u_move']"> Change Euler angles of u using arrows  </div>
            </span>
          </span>
        </div>

        <!-- edit mode -->
        <div class="bloch_param" ng-show="info.modes['u0']=='edit'" >
          <span> u = </span>
          <input id="u_input" ng-model="bloch['u']" ng-key-enter="update_bloch()" ng-change="bloch_solve_reset()" type="text" class="bloch_input" style="width:180px" >
        </div>
        <!-- move mode-->
        <div ng-show="info.modes['u0']=='move'" >
          <span style="float:right;"class="popup glyphicon glyphicon-question-sign " ng-mouseenter="popup['rot_help']=true" ng-mouseleave="popup['rot_help']=false">
            <div class="popuptext" style=";width:200px;text-align:left" ng-show="popup['rot_help']">
              <div> click on the hand and press hotkeys :
                <br> &nbsp left  : decrement phi
                <br> &nbsp right : increment phi
                <br> &nbsp down  : decrement theta
                <br> &nbsp up    : increment theta
                <br> &nbsp pagedown  : increase dt
                <br> &nbsp pageup    : decrease dt
                <br> &nbsp backspace : reset
                <br> &nbsp Enter : solve intensities
                <br> For theta,phi and dt :
                <br> &nbsp double-click : set the input value manually
                <br> &nbsp press Enter to validate
              </div>
            </div>
          </span>
          <div style="font-size:14px;margin-bottom:5px;">Orientation tweaking :
            <a tabindex="1" ng-keydown="theta_phi_cb($event)" class="btn-sm btn-primary" style="margin-right:0px;margin-left:0px" ng-click="popup['move_thick']=false" >
              <span class='glyphicon glyphicon-hand-down' />
            </a>
          </div>
          <table style="margin-left: 20px;" >
            <tr><td class="td-in"> theta </td><td> = </td><td class="td-in"> <span ng-hide="input['theta']" ng-bind="theta_phi[0]" ng-dblclick="input['theta']=true">deg</span> <input class="long_input" ng-show="input['theta']" ng-model="theta_phi[0]" ng-key-enter="set_input('theta','move')"></td></tr>
            <tr><td class="td-in"> phi   </td><td> = </td><td class="td-in"> <span ng-hide="input['phi']"   ng-bind="theta_phi[1]" ng-dblclick="input['phi']=true"  >deg</span> <input class="long_input" ng-show="input['phi']"   ng-model="theta_phi[1]" ng-key-enter="set_input('phi'  ,'move')"  ></td></tr>
            <tr><td class="td-in"> dt    </td><td> = </td><td class="td-in"> <span ng-hide="input['dtp']"   ng-bind="dtheta_phi"   ng-dblclick="input['dtp']=true"  >deg</span> <input class="long_input" ng-show="input['dtp']"   ng-model="dtheta_phi"   ng-key-enter="set_input('dtp'  ,'move')"  ></td></tr>
          </table>
        </div><!-- move mode -->
      </div><!-- Single mode -->

      <!-- ////////// -->
      <!-- rock mode -->
      <div ng-show="info.modes['u']=='rock'" class="">
        <div>
          <span> Rocking curve mode : </span>
          <span id="new_rock_btn"  class="popup glyphicon glyphicon-file" ng-click="new_rock(true)" ng-mouseenter="showIt('show_new_rock')" ng-mouseleave="hideIt('show_new_rock')" >
            <span class="popuptext" ng-show="popup['show_new_rock']">new rock</span>
          </span>
          <span id="expand_load_rock"  class="popup glyphicon glyphicon"  ng-class="{'glyphicon-folder-open':!expand_bloch['load_rock'],'glyphicon-minus-sign':expand_bloch['load_rock']}" ng-click="expand_bloch['load_rock']=!expand_bloch['load_rock']" ng-mouseenter="showIt('show_load_rocks')" ng-mouseleave="hideIt('show_load_rocks')" >
            <span class="popuptext" ng-show="popup['show_load_rocks']">Load previously <br> simulated data.</span>
          </span>
        </div>
        <!-- load rock -->
        <div ng-show="expand_bloch['load_rock']">
          <div style="margin-left:5%" >
            <span> load :</span>
            <select id="load_rock_select" style="width:100px" ng-model="rocks.select" ng-options="x for x in rock_names" ng-change="show_rock_info(rocks.select)" ng-blur="restore_rock()"></select>
            <span id="load_rock_btn" class="btn_rock btn btn-primary btn-sm popup"   ng-click="load_rock()" ng-mouseenter="showIt('show_load_rock')" ng-mouseleave="hideIt('show_load_rock')">
              <span class="glyphicon glyphicon-open" style="margin-left:-2px;"></span >
                <span class="popuptext" ng-show="popup['show_load_rock']">Load </span>
            </span>
            <span id="rock_delete_btn" class="btn_rock  btn btn-primary btn-sm popup" style="background-color:#d14242" ng-click="delete_rock()" ng-mouseenter="showIt('show_delete_rock')" ng-mouseleave="hideIt('show_delete_rock')">
              <span class="glyphicon glyphicon-remove" />
              <span class="popuptext" style="" ng-show="popup['show_delete_rock']"> delete rock  </span>
            </span>
          </div>
        </div>
        <!-- rock name -->
        <div style="margin-left:5%;padding-top: 5px;padding-bottom: 5px;"> <span id="rock_name_btn"  ng-click="new_rock(true)" style="cursor: pointer;" > Name</span>:
            <span  id="rock_name_span"  ng-show="!show_rock_name_select" ng-bind="rocks.active" style="font-weight:bold;"/>
            <input id="rock_name_input" ng-show="show_rock_name_select" ng-model="rocks.name" ng-key-enter="save_rock_name()" ng-blur="save_rock_name()" class="long_input"  type="text">
            <a id="rock_name_popup" class="popup" style="display:none;">
              <span class="glyphicon glyphicon-exclamation-sign"/>
              <span class="popuptext" style="color:#8d1010;"> Change rock name as <br> {a rocks.name a} is already in database. </span>
            </a>
        </div>
        <!-- rock settings -->
        <div style="font-size:14px;margin-top:7px;margin-left:5%;">
          <span> Settings : </span>
          <span id="expand_rock_settings_btn" class="popup glyphicon bloch_info" ng-class="{'glyphicon-plus-sign':!expand_bloch['rock_settings'],'glyphicon-minus-sign':expand_bloch['rock_settings']}" ng-click="expand_bloch['rock_settings']=!expand_bloch['rock_settings']" ng-mouseenter="popup['rock_settings']=true" ng-mouseleave="popup['rock_settings']=false" >
            <span class="popuptext" ng-show="popup['rock_settings']">
            <div style="text-align:left">
              Rocking curve settings  :
              <br> &nbsp u0   : initial orientation
              <br> &nbsp u1   : last orientation
              <br> &nbsp npts : number of orientation vectors
            </div>
          </span>
        </div>
        <div ng-show="expand_bloch['rock_settings']">
          <table ng-show="rocks.show_info || rocks.saved" style="margin-left: 20px;">
            <tr><td class="td-in"> u0   </td><td class="td-in"> = </td><td><span ng-bind="rock['u0']"     /></td>
            <tr><td class="td-in"> u1   </td><td class="td-in"> = </td><td><span ng-bind="rock['u1']"     /></td>
            <tr><td class="td-in"> npts </td><td class="td-in"> = </td><td><span ng-bind="rock['nframes']"/></td>
          </table>
          <table ng-hide="rocks.show_info || rocks.saved" style="margin-left: 20px;">
            <tr><td class="td-in"> u0   </td><td class="td-in"> = </td>
              <td> <input id="rock_u0_input" class="long_input" ng-change="rock_reset()" ng-model="rock['u0']"  ></td>
              <td class="td-in" ng-show="dat['pets']">
                <a class="btn-sm btn-primary popup" id="rock_u0_btn"  ng-click="set_rock_frame(0)" ng-mouseenter="showIt('rock_set_0')" ng-mouseleave="hideIt('rock_set_0')">
                  <span class="glyphicon glyphicon-pushpin"/>
                  <span class="popuptext" style="" ng-show="popup['rock_set_0']"> Assign u0 to current experimental frame </span>
                </a>
              </td>
            </tr>
            <tr><td class="td-in"> u1   </td><td class="td-in"> = </td>
              <td> <input id="rock_u1_input" class="long_input"  ng-change="rock_reset()" ng-model="rock['u1']"  ></td>
              <td class="td-in" ng-show="dat['pets']">
                <a class="btn-sm btn-primary popup" id="rock_u1_btn" ng-click="set_rock_frame(1)" ng-mouseenter="showIt('rock_set_1')" ng-mouseleave="hideIt('rock_set_1')">
                  <span class="glyphicon glyphicon-pushpin"/>
                  <span class="popuptext" style="" ng-show="popup['rock_set_1']"> Assign u1 to current experimental frame </span>
                </a>
              </td>
            </tr>
            <tr><td class="td-in"> npts </td><td class="td-in"> = </td>
              <td> <input id="rock_npts_input" class="bloch_input"  ng-change="rock_reset()" ng-model="rock['nframes']" ng-key-enter="solve_rock()" type="number" min="2" max="1000"></td>
              <td class="td-in" ng-show="dat['pets']">
                <a class="btn-sm btn-primary popup" ng-click="set_rock_frame(2)" ng-mouseenter="showIt('rock_set')" ng-mouseleave="hideIt('rock_set')">
                  <span class="gg-icon gg-path-back" />
                  <span class="popuptext" style="" ng-show="popup['rock_set']"> Assign u0,u1 as first and last frame. </span>
                </a>
              </td>
            </tr>
          </table>
        </div><!-- rock settings -->
        <!-- Simulated rocking curve frames -->
        <div ng-show="rock_state=='done'">
          <div class="" style="margin-left:5%">
          <span style="cursor:pointer;"ng-click="input['rock_sim']=!input['rock_sim']">
            Simu nb :
          </span>
          <a class="btn-sm btn-primary btn-rock" ng-click="set_rock_sim('i');">
            <span class="glyphicon glyphicon-fast-backward"></span >
          </a>
          <a class="btn-sm btn-primary btn-rock" ng-click="set_rock_sim('-')">
            <span class="glyphicon glyphicon-step-backward"></span >
          </a>
          <span style="margin-left:5px" >
            <span  ng-hide="input['rock_sim']" ng-bind="rock_sim" tabindex="1" class="btn-sm btn-primary"  ng-keydown="update_rock_sim($event)" style="cursor:pointer;"></span>
            <input ng-show="input['rock_sim']" ng-model="rocks.rock_sim" type="number" ng-key-enter="enter_rock_sim()" style="width:40px;">
            <!-- ng-change="show_rock_sim()"  -->
          </span>
          <a class="btn-sm btn-primary btn-rock" ng-click="set_rock_sim('+')">
            <span class="glyphicon glyphicon-step-forward"></span >
          </a>
          <a class="btn-sm btn-primary btn-rock" ng-click="set_rock_sim('f')">
            <span class="glyphicon glyphicon-fast-forward"></span >
          </a>
          </div>
          <!--  Integration -->
          <div style="margin-top:5px;margin-left:5%"">
            <span> Integrate : </span>
            <a id="rock_int_btn" class="btn btn-primary btn-sm popup" style="width:30px;height:30px;"  ng-click="integrate_rock()" ng-mouseenter="showIt('rock_int')" ng-mouseleave="hideIt('rock_int')">
              <span class="gg-icon gg-stack" style="margin-left:-5px;margin-top:5px;"></span >
              <span class="popuptext" ng-show="popup['rock_int']">
                Integrate rocking curve <br>
                at all thicknesses
              </span>
            </a>
            <a id="rock_export_hkl_btn" class="btn btn-primary btn-sm popup" style="width:30px;height:30px;"  ng-click="download_hkl()" ng-mouseenter="showIt('show_download_hkl')" ng-mouseleave="hideIt('show_download_hkl')">
              <span class="glyphicon glyphicon-export" style="margin-bottom:-5px;margin-left:-4px;"></span >
              <!-- <span class="gg-icon gg-software-download" style="margin-bottom:-5px;margin-left:-4px;"></span > -->
                <span class="popuptext" ng-show="popup['show_download_hkl']">
                  Download hkl file (shelx fmt)<br>
                  for integrated reflections <br>
                  at current thickness
                </span>
              </a>
              <a id="rock_save_btn" ng-style="styles['rock_saved']" class="btn btn-primary btn-sm popup" style="width:30px;height:30px;"  ng-click="save_rock()" ng-mouseenter="showIt('show_save_rock')" ng-mouseleave="hideIt('show_save_rock')">
                <span ng-class="{'glyphicon glyphicon-save':!rocks.saved,'glyphicon glyphicon-saved':rocks.saved}" ></span >
                  <span class="popuptext" ng-show="popup['show_save_rock']">
                    Save simulated data<br>
                  </span>
              </a>
            </div>
        </div><!-- done buttons -->
      </div><!-- rock mode -->

    </div><!-- expand_bloch['u'] -->
  </div><!-- theta_phi -->
</div><!-- u -->


<!-- solve button -->
<div class="row "">
  <table style="margin-left: 5px;"><tr>
    <td class="td-in" style="width: 50%;">
      <div style="cursor: pointer;" id="solve_btn" class="btn-sm btn-primary bloch_solve_param"  ng-click="update_bloch()" ng-style="bloch_solve_style" ng-bind="bloch_solve_btn"></div>
    </td>
    <td class="td-in" style="font-size:13px">
      <span>n_beams </span>
      <span class="popup glyphicon glyphicon-question-sign bloch_info" ng-mouseenter="popup['nbms']=true" ng-mouseleave="popup['nbms']=false" >
        <span class="popuptext" ng-show="popup['nbms']"> Number of beams (size of the bloch matrix) </span>
      </span>
      <span>=</span>
      <span ng-bind="nbeams"></span>
    </td>
  </tr></table>
</div>


<!-- thickness dependence-->
<div class="row" >
  <div class="theta_phi">
    <a id="expand_bloch_thick_panel" class="popup" ng-click="expand_bloch['thick']=!expand_bloch['thick']" ng-mouseenter="showIt('expand_thick')" ng-mouseleave="hideIt('expand_thick')" style="float:right;bottom:5px">
      <span ng-class="{'glyphicon glyphicon-chevron-down':!expand_bloch['thick'],'glyphicon glyphicon-chevron-up':expand_bloch['thick']}">
        <span class="popuptext" style="" ng-show="popup['expand_thick']" ng-bind="expand_str[expand_bloch['thick']]"></span>
      </span>
    </a>
    <div style="font-size:14px;margin-bottom:5px;">Thickness parameters :</div>
    <table style="margin-left: 10px;" ng-show="expand_bloch['thick']">
      <tr>
        <td class="td-in popup" ng-mouseenter="popup['thick']=true" ng-mouseleave="popup['thick']=false">
          Thickness
          <span class="popuptext" ng-show="popup['thick']"> sample thickness (Angstrom)</span>
        </td>
        <td class="td-in">
          <input id="bloch_thick_input" ng-keypress="update_thickness($event)" type="number" min="0" ng-model="bloch['thick']" class="mid_input"></td>
        <td>
          <a id="bloch_thick_btn" tabindex="1" ng-keydown="update_thickness($event)" class="btn-sm btn-primary" style="margin-right:0px;margin-left:0px" ng-click="popup['move_thick']=false" >
            <span class='glyphicon glyphicon-hand-down' />
          </a>
          <span class="popup glyphicon glyphicon-question-sign" ng-mouseenter="popup['move_thick']=true" ng-mouseleave="popup['move_thick']=false" style="top:-10px;">
            <span ng-show="popup['move_thick']" class="popuptext" style=";width:270px;text-align:left;font-size:14px" >
              <b>Click on hand button and use keys :</b>
              <br> &nbsp; arrows   : increase/decrease thickness
              <br> &nbsp;&nbsp; up/down    : by dthick
              <br> &nbsp;&nbsp; left/right : by 10*dthick
              <br> &nbsp; pageup    : decrease dthick
              <br> &nbsp; pagedown  : increase dthick
              <br> &nbsp; backspace : reset dthick to 5A
              <br> <b>where : </b>
              <br> &nbsp; dthick is the thickness increment
              <br> &nbsp; dthick=<span ng-bind="dthick"></span>A
            </span>
        </td>
      </tr>
      <tr>
        <td class="td-in popup" ng-mouseenter="popup['thicks']=true" ng-mouseleave="popup['thicks']=false">
          Range
          <span class="popuptext" ng-show="popup['thicks']"> Thickness range for beam vs thickness (t0,t1,npts)  </span>
        </td>
        <td class="td-in">
          <input id="bloch_thicks_input" ng-key-enter="update_thicks()" type="text" ng-model="bloch['thicks']"  class="mid_input">
        </td>
        <td>
          <a class="btn btn-primary myBtn-sm" style="border-width:2px;" ng-click="update_thicks()">
            <img style="width: 90%;" src="/static/images/beam_vs_thick.png"/>
          </a>
          <span class="popup glyphicon glyphicon-question-sign" ng-mouseenter="popup['beams_thick']=true" ng-mouseleave="popup['beams_thick']=false" style="top:-10px;">
          <span class="popuptext" ng-show="popup['beams_thick']"> Show beam vs thickness (init_thick,final_thick,nb_points) </span>
        </td>
      </tr>
    </table>
  </div>
</div>

<!-- miller indices table -->
<div class="row">
  <div class="theta_phi">
    <a class="popup" ng-click="expand_bloch['refl']=!expand_bloch['refl']" ng-mouseenter="showIt('expand_refl')" ng-mouseleave="hideIt('expand_refl')" style="float:right;bottom:5px">
      <span ng-class="{'glyphicon glyphicon-chevron-down':!expand_bloch['refl'],'glyphicon glyphicon-chevron-up':expand_bloch['refl']}" >
        <span class="popuptext" style="" ng-show="popup['expand_refl']" ng-bind="expand_str[expand_bloch['refl']]"></span>
      </span>
    </a>
    <div style="font-size:14px;margin-bottom:5px;">Selected reflections
      <span class="popup glyphicon glyphicon-question-sign" ng-mouseenter="popup['sel_refl']=true" ng-mouseleave="popup['sel_refl']=false" >
        <span ng-show="popup['sel_refl']" class="popuptext" style=";width:270px;text-align:left;font-size:14px" >
          <b> Click on diffraction pattern to select reflections : </b>
          <br>These are used for displaying :
          <br> &nbsp;&nbsp;beam_vs_thickness
          <br> &nbsp;&nbsp;rocking curves

        </span>
      </span>
    </div>
    <div class="row" ng-show="expand_bloch['refl']">
      <div class="col-sm-9" id='table_miller' >
        <table  id="table_Miller_indices"  border="1" cellpadding="2">
          <tr>
              <th>
                <a id="clear_btn" class="btn-sm btn-primary popup" ng-click="clear_table()" ng-mouseenter="showIt('clear_list')" ng-mouseleave="hideIt('clear_list')">
                  <span class="glyphicon glyphicon-remove" />
                  <span class="popuptext" style="" ng-show="pop['clear_list']"> clear reflection table  </span>
                </a>
              </th>
              <th><b>miller_indices</b></th>
          </tr>
        </table>
      </div>
      <div class="col-sm-2" style="padding-left:5px">
        <a class="btn-sm btn-primary popup" ng-style="styles['auto_refresh']" ng-click="set_auto()" ng-mouseenter="showIt('auto_refresh')" ng-mouseleave="hideIt('auto_refresh')">
          <span class="glyphicon glyphicon-refresh" />
          <span class="popuptext" style="" ng-show="pop['auto_refresh']">Auto refresh  </span>
        </a>
      </div>
    </div><!-- row -->
  </div><!-- theta_phi -->
</div><!-- miller indices table -->
