<table>
<tr>
  <td>
    <table>
      <tr>
        <td>
          <span class="felix_refl" > Choose reflection : </span>
          <select id="select_erefl" ng-model="info.refls.e"  ng-change="update('rock')" ng-options="x for x in exp_refls" >
        </td>
      </tr>
      <tr>
        <td>
          <div id="fig_felix" style="width:100%;margin:5px;border-style:solid;float:left" >
            <line-plot id=fig1_felix fig="fig1">
          </div>
        </td>
      </tr>
    </table>
  </td>

  <!-- Second display -->
  <td ng-hide="info.single">
    <table>
      <tr>
        <td>
          <span class="felix_refl" > Choose reflection : </span>
          <select id="select_srefl" ng-model="info.refls.s" ng-change="update('lacbed')" ng-options="x for x in sim_refls" >
        </td>
        <td>
          <a class="btn-sm btn-primary popup" ng-click="toggle_lacbed()" ng-mouseenter="showIt('lacbed_quick')" ng-mouseleave="hideIt('lacbed_quick')" style="margin-left: 7px;">
            <span ng-class="{'glyphicon glyphicon-save':!lacbed_quick,'glyphicon glyphicon-open':lacbed_quick}"/>
            <span class="popuptext" style="" ng-show="popup['lacbed_quick']">
              Toggle plotly/static image </span>
          </a>
        </td>
      </tr>
      <tr>
        <td >
          <div ng-hide="lacbed_quick" style="width:100%;margin:5px;border-style:solid;float:right" >
            <line-plot id=fig2_felix fig="fig2">
          </div>
          <div ng-show="lacbed_quick" class="frame">
            <a ng-href="{a lacbed_img a}">
              <img ng-src="{a lacbed_img a}" />
            </a>
          </div>
        <td>
      </tr>
    </table>
  </td>

</tr>
</table>
