<!-- Frames panel -->
<div class="panel" ng-show="!modes['molecule'] && max_frame>0">
  <div class="row">
    <!-- <div class="col-sm-8"> -->
      <h4>
        <span style="padding-left: 5px" > Frames : </span>
        <span class="popup glyphicon bloch_info" ng-class="{'glyphicon-plus-sign':!frame_offset_on,'glyphicon-minus-sign':frame_offset_on}" ng-click="frame_offset_on=!frame_offset_on" ng-mouseenter="popup['frame_offset']=true" ng-mouseleave="popup['frame_offset']=false" >
          <span class="popuptext" ng-show="popup['frame_offset']"> select an offset for simulated frames  </span>
        </span>
      </h4>
    <!-- </div> -->
  </div>
  <table>
    <tr><td>
      <span >
        <a href=""  ng-click="frames.manual=false">
          No:
        </a>
        <span  ng-hide="frames.manual" ng-bind="frames.active_frame" tabindex="1" class="btn-sm btn-primary" ng-keydown="update_frame_event($event)"  ng-dblclick="frames.manual=true" ></span>
        <input ng-show="frames.manual" ng-model="frames.active_frame" min="1" max="max_frame" ng-key-enter="update_frame()" style="width:30px;">
      </span>
      <span> / <span ng-bind="max_frame"/></span>
      <a class="btn-sm btn-primary"  ng-click="dec_frame()">
        <span class="glyphicon glyphicon-step-backward"></span >
      </a>
      <a class="btn-sm btn-primary"  ng-click="inc_frame()">
        <span class="glyphicon glyphicon-step-forward"></span >
      </a>
      <!-- <a class="btn-sm btn-primary"  ng-click="toggle_reload()" ng-style="mode_style['reload']">
        <span class="glyphicon glyphicon-refresh"></span >
      </a> -->
    </td></tr>
    <tr ng-show="frame_offset_on"><td>
      Simulation frames offset:
      <input type="number" min="-max_frame" max="max_frame" ng-model="frames.offset" ng-key-enter="update_offset()" style="width: 80px" />
    </td></tr>
    <tr ng-show="mode=='frames'"><td style="padding-top:10px" >
      color map :
      <select ng-model="caxis.cmap" ng-options="x for x in cmaps" ng-change="change_heatmap()"></select>
    </td></tr>
    <!-- u frame -->
    <tr ng-show="mode=='bloch' && dat['pets']"><td>
      <div style="padding:10px">
        $\mathbf u_{frame}$ =
         <span ng-bind="frames.u"></span>
         <span class="popup glyphicon glyphicon-question-sign bloch_info" ng-mouseenter="popup['u_frame']=true" ng-mouseleave="popup['u_frame']=false">
           <span class="popuptext" ng-show="popup['u_frame']"> Beam orientation based on experimental frames.</span>
         </span>
      </div>
    </td></tr>
  </table>
</div>
