<!-- Frames panel -->
<div class="panel bloch_panel" ng-show="!modes['molecule'] && max_frame>0">
  <div class="row">
      <span style="padding-left: 5px;font-size:18px" > Frames : </span>
      <span class="popup glyphicon bloch_info" ng-class="{'glyphicon-plus-sign':!expand['frame_settings'],'glyphicon-minus-sign':expand['frame_settings']}" ng-click="expand['frame_settings']=!expand['frame_settings']" ng-mouseenter="popup['frame_settings']=true" ng-mouseleave="popup['frame_settings']=false" >
        <span class="popuptext" ng-show="popup['frame_settings']"> settings  </span>
      </span>
  </div>

  <div>
    <!-- settings -->
    <div ng-show="expand['frame_settings']" style="margin-bottom:5px">
      <table><tbody>
        <tr>
          <td>Simulation frames offset</td><td> : </td>
          <td><input type="number" min="-max_frame" max="max_frame" ng-model="frames.offset" ng-key-enter="update_offset()" style="width: 80px" /></td>
        </tr>
        <tr>
          <td> Pedestal </td><td> : </td>
          <td> <input type="number" min="0" ng-model="frames.pedestal" ng-key-enter="draw_frame('exp')" style="width: 80px" /></td>
        </tr>
      </tbody></table>
    </div>

    <!-- Frames selection input -->
    <div style="margin-top:10px">
      <span ng-click="frames.manual=!frames.manual" style="cursor:pointer;" > No: </span>
      <span class="popup glyphicon glyphicon-question-sign" ng-mouseenter="popup['move_frame']=true" ng-mouseleave="popup['move_frame']=false" style="top:-10px;">
        <span ng-show="popup['move_frame']" class="popuptext" style=";width:270px;text-align:left;font-size:14px" >
          <b>Click on 'No' to toggle between frame selection modes.</b><br>
            <span ng-show="frames.manual">
              Type frame number and press enter to update frame.
            </span>
            <span ng-hide="frames.manual">
              Click on frame button and use hot keys :
              <br> &nbsp; d : increase frame by 1
              <br> &nbsp; a : decrease frame by 1
              <br> &nbsp; w : increase frame by <span style="font-style:italic;">jump_frames</span>
              <br> &nbsp; s : decrease frame by <span style="font-style:italic;">jump_frames</span>
              <br> &nbsp; q : multiply <span style="font-style:italic;">jump_frames</span> by 2
              <br> &nbsp; e : divide   <span style="font-style:italic;">jump_frames</span> by 2
              <br> &nbsp; backspace : reset <span style="font-style:italic;">jump_frames</span>  to default 10
              <br> &nbsp; <span style="font-style:italic;">jump_frames</span>  = <span ng-bind="frames.jump_frames"/>
            </span>
        </span>
      </span>
      <span>
        <span  ng-hide="frames.manual" tabindex="1"  ng-bind="frames.active_frame" style="cursor:pointer;" class="btn-sm btn-primary" ng-keydown="update_frame_event($event)"  ng-dblclick="frames.manual=true" />
        <input ng-show="frames.manual" ng-model="frames.active_frame" min="1" max="max_frame" ng-key-enter="update_frame()" style="width:30px;">
      </span>
      <span> / <span ng-bind="max_frame"/></span>
      <span class="btn-sm btn-primary btn-rock" style="cursor:pointer;" ng-click="set_frame('i');">
        <span class="glyphicon glyphicon-fast-backward"></span >
      </span>
      <span class="btn-sm btn-primary" style="cursor:pointer;" ng-click="set_frame('-')">
        <span class="glyphicon glyphicon-step-backward"></span >
      </span>
      <span class="btn-sm btn-primary" style="cursor:pointer;" ng-click="set_frame('+')">
        <span class="glyphicon glyphicon-step-forward"></span >
      </span>
      <span class="btn-sm btn-primary btn-rock" style="cursor:pointer;" ng-click="set_frame('f')">
        <span class="glyphicon glyphicon-fast-forward"></span >
      </span>
    </div>

    <!-- colormap -->
    <div ng-show="mode=='frames'" style="padding-top:10px" >
      color map :
      <select ng-model="caxis.cmap" ng-options="x for x in cmaps" ng-change="change_heatmap()"></select>
    </div>
    
    <!-- u frame (shown in bloch mode)-->
    <div ng-show="mode=='bloch' && dat['pets']">
      <div style="padding:10px;">
        $\mathbf u_{frame}$ =
         <span ng-bind="frames.u"></span>
         <span class="popup glyphicon glyphicon-question-sign bloch_info" ng-mouseenter="popup['u_frame']=true" ng-mouseleave="popup['u_frame']=false">
           <span class="popuptext" ng-show="popup['u_frame']"> Beam orientation based on experimental frames.</span>
         </span>
      </div>
    </div>
  </div>
</div>
