<!-- importer -->
<div class="panel bloch_panel" style="padding:0px">

  <!-- header -->
  <div>
    <span style="padding-left: 5px;font-size:15px" > Import menu </span>
  <!-- ng-show="modes['analysis']=='frames' && !modes['molecule']"> -->
    <a class="popup" ng-click="expand['importer']=!expand['importer']" ng-mouseenter="showIt('expand_importer')" ng-mouseleave="hideIt('expand_importer')" style="float:right;bottom:0px">
      <span ng-class="{'glyphicon glyphicon-chevron-down':!expand['struct'],'glyphicon glyphicon-chevron-up':expand['struct']}">
        <span class="popuptext" style="" ng-show="popup['expand_importer']" ng-bind="expand_str[expand['expand_importer']]"></span>
      </span>
    </a>
  </div>

  <!--content  -->
  <div style="margin-left:5px;margin-bottom: 5px;" ng-show="expand['importer']">
    <!-- buttons -->
    <div style="margin-bottom: 5px;" >
      <a class="btn-lg btn-primary popup" ng-style="import_style['frames']" ng-click="set_import('frames')" ng-mouseenter="showIt('import_frames')" ng-mouseleave="hideIt('import_frames')">
        <span class="glyphicon glyphicon-th" />
        <span class="popuptext" ng-show="popup['import_frames']"> Import experimental dataset </span>
      </a>
      <a class="btn-lg btn-primary popup" ng-style="import_style['dat']" ng-click="set_import('dat')" ng-mouseenter="showIt('import_dat')" ng-mouseleave="hideIt('import_dat')">
        <span class="glyphicon glyphicon-cog" />
        <span class="popuptext" ng-show="popup['import_dat']">
          Import processed data (pets,dials or xds ) </span>
      </a>
      <a class="btn-lg btn-primary popup" ng-style="import_style['cif']" ng-click="set_import('cif')" ng-mouseenter="showIt('import_cif')" ng-mouseleave="hideIt('import_cif')">
        <span class="gg-icon gg-share" style="margin-right: 10px;"/>
        <span class="popuptext" ng-show="popup['import_cif']">
          Import a cif file </span>
      </a>
    </div>


    <!--/////////////////////////////////////  -->
    <!-- Import frames -->
    <!--/////////////////////////////////////  -->
    <div ng-show="import_mode=='frames'">
      <div style="font-size:16px" >Import Frames :</div>
      <div>
        <div style="font-size:16px;margin-left:10px" >Zenodo database : </div>
        <a class="btn-sm btn-primary popup" style="float:right;margin-right:7px;margin-top:-5px" ng-click="download_frames()" ng-mouseenter="showIt('update_cloud')" ng-mouseleave="hideIt('update_cloud')">
          <span class="glyphicon glyphicon-cloud" />
          <span class="popuptext" ng-show="popup['update_cloud']"> update zenodo </span>
        </a>
        <select ng-model="zenodo.record" style="width: 200px;margin-left:20px" ng-options="x.title for x in zenodo.records" ng-change="change_files_table()" ></select>
      </div>
      <!-- record file table -->
      <div style="margin-left:10px;margin-top:10px;margin-right:7px;margin-bottom: 10px;overflow-y: scroll;max-height: 30vh;">
        <table class="table table-bordered" style="table-layout:fixed;width:99%"  >
          <thead><tr style="width:70%"><th>file </th><th style="width:30%">size</th></tr>
          <tbody>
            <tr ng-repeat="(name,x) in zenodo.record.files">
              <td style="word-wrap:break-word;">
                <div style="cursor: pointer" ng-click="update_link(x)" ng-bind="name"> </div>
              </td>
              <td style=""><span ng-bind="x.size"/></td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- link input and download button -->
      <div>
        link :
        <input type="text" ng-model="download_link" style="width: 180px;" ng-key-enter="download_frames()" ng-change="">
        <a ng-hide="frames_downloaded" style="margin:0px;" class="btn-sm btn-primary popup" ng-click="download_frames()" ng-mouseenter="showIt('download_frames')" ng-mouseleave="hideIt('download_frames')">
          <span class="glyphicon glyphicon-cloud-download" />
          <span class="popuptext" ng-show="popup['download_frames']"> Download frames from cloud to server </span>
        </a>
        <span ng-show="frames_downloaded" style="color:green;margin-left:5px;">
          <span class="glyphicon glyphicon-saved" />
        </span>
      </div>

      <!-- download info -->
      <div ng-class="theta_phi" ng-show="download_info!='done'">
        Download info :
        <span ng-bind="download_info"></span>
      </div>

      <!-- content info -->
      <div ng-class="theta_phi" ng-show="frames_downloaded">
       <table class="table" style="table-layout:fixed;width:95%;overflow-y: scroll;max-height: 30vh;"  >
         <thead><tr style="width:80%"><th> datasets </th><th style="width:20%">import</th></tr>
         <tbody>
           <tr ng-repeat="x in data_folders">
             <td style="word-wrap:break-word;"><div ng-bind="x"> </div></td>
             <td style="">
               <a class="btn-sm btn-primary" ng-click="import_frames(x)" >
                 <span class="glyphicon glyphicon-import" style="cursor: pointer"/>
              </a>
            </td>
           </tr>
         </tbody>
       </table>
     </div>
    </div>


    <!--/////////////////////////////////////  -->
    <!-- import dat -->
    <!--/////////////////////////////////////  -->
    <div ng-show="import_mode=='dat'" style="margin-top:10px;margin-bottom:10px;">
      <div style="font-size:16px" >Import Processed Data :</div>
      <!-- upload file  -->
      <div style="margin-left:10px;">
        <span > From file : <span/>
        <span class="popup glyphicon glyphicon-question-sign bloch_info" ng-mouseenter="popup['import_dat_files']=true" ng-mouseleave="popup['import_dat_files']=false" >
          <span style="text-align:left;width:300px;font-size:16px" class="popuptext" ng-show="popup['import_dat_files']">
             Please, import as followed : <br>
             <ul>
               <li ng-repeat="(dat_type,files) in dat_type_files" style="">
                 <span ng-bind="dat_type" /> :  <span ng-bind="files"/>
               </li>
              </ul>
          </span>
        </span>
      </div>
      <!-- input file form  -->
      <div style="display: inline-block;margin-left:20px;margin-top:5px;">
        <form id="form_dat"><fieldset>
          <input class="glyphicon glyphicon-file" id="input_dat_file" style="display: inline-block;width:220px;font-size: 16px;" type = "file" name="file"   onchange="upload_file('dat')"/>
          <!-- <span class="btn-sm btn-primary" onclick="upload_file('dat')"> R </span> -->
          <span  style="margin-left:0px;">
            <span ng-show="dat_valid"  style="color:green" class="glyphicon glyphicon-ok"/>
            <span ng-show="!dat_valid" style="color:red"   class="glyphicon glyphicon-remove"/>
          </span>
        </fieldset></form>
      </div>
      <!-- message -->
      <div style="margin-left:10px;margin-top:5px;">
        Processed data type : <span ng-bind="dat_info.dat_type" style="font-weight: bold;font-size: 16px;"/>
        <div ng-show="!dat_valid && dat_info.missing_files!='?'" style="margin-left:10px;">
          Missing files : <span style="color:red;" ng-bind="dat_info.missing_files"/>
        </div>
      </div>
      <!-- import btn -->
      <div ng-show="dat_valid" style="display:grid;justify-content: space-around;margin-top:5px;margin-bottom:10px">
        <div style="cursor: pointer;" class="btn-sm btn-primary" ng-click="import_dat()" >
          <span style="margin-left:5px">Import processed data<span/>
          <span class="glyphicon glyphicon-import" style="margin-left:10px"/> <!-- float:right"/> -->
        </div>
      </div>

      <!-- Choose processed data from software -->
      <div style="font-size:16px;margin-top: 10px;" >Select Processed Data :</div>
      <div style="margin-top:10px;margin-bottom:5px">
        <span style="margin-left:10px;"> Available : <span/>
        <select ng-model="dat.dat_type" style="width: 60px" ng-options="x for x in dat.dat_types" ng-change="load_dat_type()" ></select>
        </span>
      </div>
    </div>



    <!--/////////////////////////////////////  -->
    <!-- import cif -->
    <!--/////////////////////////////////////  -->
    <div ng-show="import_mode=='cif'"  style="margin-top:10px;margin-bottom:10px;">
      <div style="font-size:16px" > Import a cif file : </div>
      <!-- upload file  -->
      <div style="display: inline-block;margin-left:20px;margin-top:5px;">
        <form id="form_Cif"><fieldset>
          <input class="glyphicon glyphicon-file" id="input_Cif_file" style="display: inline-block;width:220px;font-size: 16px;" type = "file" name="file"   onchange="upload_file('Cif')"/>
          <!-- <span class="btn-sm btn-primary" onclick="upload_file('dat')"> R </span> -->
          <span  style="margin-left:0px;">
            <span ng-show="valid_cif"  style="color:green" class="glyphicon glyphicon-ok"/>
            <span ng-hide="valid_cif"  style="color:red"   class="glyphicon glyphicon-remove"/>
          </span>
        </fieldset></form>
      </div>
      <!-- import btn -->
      <div ng-show="valid_cif" style="display:grid;justify-content: space-around;margin-top:10px;margin-bottom:5px">
        <div style="cursor: pointer;" class="btn-sm btn-primary" ng-click="import_cif()" >
          <span style="margin-left:5px">Import cif file<span/>
          <span class="glyphicon glyphicon-import" style="margin-left:10px"/> <!-- float:right"/> -->
        </div>
      </div>
      <div ng-show="!cif_imported" style="margin-left:10px;margin-top:5px;">
        <span style="color:red;text-align:center;font-size: 14px;">
          Importing cif file ...
        </span>
      </div>

      <div style="font-size:16px;margin-top:10px;margin-bottom:5px;" >
        Current cif file :
        <div style="margin-left:20px" ng-bind="crys.file"></div>
      </div>
    </div>

  </div><!-- expand -->
</div>
