<!DOCTYPE html>
 <html lang="en" ng-app="app">

 <head>
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta name="description" content="">
     <meta name="author" content="">
     <title> Electron diffraction Dashboard </title>
     <link rel="shortcut icon" href="static/favicon.ico" >
     <link rel="stylesheet" href="static/bower_components/bootstrap-css/css/bootstrap.min.css">
     <link href="/static/css/bw_app.css" rel="stylesheet">
     <link href="/static/css/popup.css" rel="stylesheet">
     <script src="static/bower_components/angular/angular.min.js"></script>
     <script src="static/bower_components/angular-aria/angular-aria.js"></script>
     <script src="static/bower_components/angular-touch/angular-touch.js"></script>
     <!-- <script src="static/bower_components/angular-route/angular-route.min.js"></script> -->
     <!-- <script src="static/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script> -->
     <script src="static/bower_components/jquery/dist/jquery.min.js"></script>
     <!-- <link rel="stylesheet" href="static/bower_components/jquery-ui/themes/base/jquery-ui.css"> -->
     <script src="static/bower_components/plotlyjs/plotly.js"></script>
     <!-- <script src="static/bower_components/chart.js/Chart.min.js"></script>
     <script src="static/bower_components/angular-chart.js/dist/angular-chart.min.js"></script>      -->
     <script src="static/js/app.js"></script>

     <!-- <script src="static/bower_components/jsmol/src/JSmol.min.js"></script> -->
     <!-- <script src="static/bower_components/jsmol/src/js/Jmol2.js"></script> -->
     <script src="static/jmol/jsmol/JSmol.min.js"></script>
     <script src="static/jmol/jsmol/js/Jmol2.js"></script>
     <!-- <script > jmolInitialize("static/bower_components/jsmol/src");</script> -->
     <script > jmolInitialize("/static/jmol/jsmol");</script>
 </head>


 <body>

   <header class="header">
      <h2> Electron diffraction dashboard </h2>
   </header>

   <div class="container-fluid mt-3" style="margin:0px;padding-left:0px;background-color:#3c4a66;">
     <div ng-controller="viewer" class="row" style="margin:0px;padding-left:0px">

      <!-- Panel -->
      <div class="col-sm-2" style="padding-left:5px;padding-right:0px;">
        <div class="panel" style="background-color:#b5ccda">

          <!-- Structure -->
          <div class="panel">
            <p style="font-size:25px">  {a structure a} </p>
            <div class="row">
              <div class="col-sm-8">
                <div ng-click="set_structure()" style="text-align: center;">
                  <a ng-href="" > <!-- onclick="load_cif(1)" > -->
                    <span style="font-size:18px;text-align:center" ng-bind="cif"> </span>
                    <span style="display:none" id="cif_file" ng-bind="cif_file"> </span>
                  </a>
                </div>
              </div>
              <div class="col-sm-4">
                <a class="btn btn-primary myBtn popup jmol" ng-click="toggle_molecule()" ng-mouseenter="toggle_popup('mol')" ng-mouseleave="toggle_popup('mol')">
                  <img ng-hide="show_molecule" src="/static/images/jsmol.png"/>
                  <img ng-show="show_molecule" src="/static/images/edly.png"/>
                  <span class="popuptext" ng-show="popup['mol']"> show/hide molecule </span>
                </a>
              </div>
            </div>
          </div>

          <!-- Upload Buttons -->
          <div class="panel" ng-show="show_buttons && !show_molecule">
            <a class="btn btn-primary myBtn popup" ng-click="upload('exp')" ng-mouseenter="toggle_popup('exp')" ng-mouseleave="toggle_popup('exp')">
              <img src="/static/images/exp_button.png" />
              <span class="popuptext" ng-show="popup['exp']"> Upload experimental dataset </span>
            </a>
            <a class="btn btn-primary myBtn popup" ng-click="upload('sim')" ng-mouseenter="toggle_popup('sim')" ng-mouseleave="toggle_popup('sim')">
              <img src="/static/images/bloch_button.png" />
              <span class="popuptext" ng-show="popup['sim']"> Upload simulated dataset </span>
            </a>
            <a class="btn btn-primary myBtn popup" ng-click="upload('pets')" ng-mouseenter="toggle_popup('pets')" ng-mouseleave="toggle_popup('pets')">
              <img src="/static/images/proc_button.png" />
              <span class="popuptext" ng-show="popup['pets']"> Import processed data from pets/dials </span>
            </a>
          </div>

          <!-- Frames panel -->
          <div class="panel" ng-hide="show_molecule">
            <div class="row">
              <div class="col-sm-8">
                <h4>Frames : </h4>
              </div>
              <div class="col-sm-4">
                <a style="float:right" class="btn btn-primary popup" ng-click="show_buttons=!show_buttons" ng-mouseenter="toggle_popup('btns')" ng-mouseleave="toggle_popup('btns')">
                  <span class="glyphicon glyphicon-upload" />
                  <span class="popuptext" style="font-family:sans-serif" ng-show="popup['btns']"> Show upload buttons </span>
                </a>
              </div>
            </div>
            No:<input type="number" ng-model="frame" ng-keypress=update_frame($event) style="width: 80px">
            <a class="btn-sm btn-primary"  ng-click="dec_frame()">
              <span class="glyphicon glyphicon-chevron-left"></span >
            </a>
            <a class="btn-sm btn-primary"  ng-click="inc_frame()">
              <span class="glyphicon glyphicon-chevron-right"></span >
            </a>
          </div>

          <div class="panel" ng-hide="show_molecule">
            <a class="btn btn-primary popup"  ng-click="toggle_analysis_mode()" ng-mouseenter="toggle_popup('ana')" ng-mouseleave="toggle_popup('ana')">
              <span ng-class="{'glyphicon glyphicon-stats':!analysis_mode,'glyphicon glyphicon-picture':analysis_mode}"></span >
              <span class="popuptext" ng-show="popup['ana']"> Toggle frames/bloch_solver mode </span>
            </a>
          </div>

          <!-- Bloch solver -->
          <div class="panel" ng-show="analysis_mode && !show_molecule">
            <div class="row">
              <div class="col-sm-9 bloch_solver">
                Bloch solver
              </div>
              <div class="col-sm-2" style="float:right">
                <a style="float:right" class="btn btn-primary popup" ng-click="manual_mode=!manual_mode" ng-mouseenter="toggle_popup('manual')" ng-mouseleave="toggle_popup('manual')">
                  <span class="glyphicon glyphicon-cog" />
                  <span class="popuptext" style="font-family: sans-serif" ng-show="popup['manual']"> Pass to manual mode : u and keV can be manually set </span>
                </a>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-2 popup bloch_param" ng-mouseenter="toggle_popup('keV')" ng-mouseleave="toggle_popup('keV')">
                keV
                <span class="popuptext" ng-show="popup['keV']"> beam energy </span>
              </div>
              <div class="col-sm-8 bloch_param">
                <input ng-show="manual_mode" type="number" min="1" max="1000" ng-model="bloch['keV']" class="bloch_input" >
                <span  ng-hide="manual_mode" ng-bind="bloch['keV']" ></span>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-2 popup bloch_param" ng-mouseenter="toggle_popup('u')" ng-mouseleave="toggle_popup('u')">
                u
                <span class="popuptext" ng-show="popup['u']"> real space beam orientation (cartesian reference frame) </span>
              </div>
              <div class="col-sm-8 bloch_param">
                <span  ng-hide="manual_mode" ng-bind="bloch['u']" ></span>
                <input ng-show="manual_mode" type="text" ng-model="bloch['u']" class="bloch_input" style="width:180px">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-2 popup bloch_param" ng-mouseenter="toggle_popup('Nmax')" ng-mouseleave="toggle_popup('Nmax')">
                Nmax
                <span class="popuptext" ng-show="popup['Nmax']"> Maximum resolution : reflection index would be (Nmax,Nmax,Nmax) </span>
              </div>
              <div class="col-sm-8 bloch_param">
                <input type="number" min="0" ng-model="bloch['Nmax']" class="bloch_input">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-2 popup bloch_param" ng-mouseenter="toggle_popup('Smax')" ng-mouseleave="toggle_popup('Smax')">
                Smax
                <span class="popuptext" ng-show="popup['Smax']"> Maximum excitation error </span>
              </div>
              <div class="col-sm-8 bloch_param">
                <input type="number" min="0.000001" max="1" ng-model="bloch['Smax']" class="bloch_input">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3 popup bloch_param" ng-mouseenter="toggle_popup('thick')" ng-mouseleave="toggle_popup('thick')">
                Thickness
                <span class="popuptext" ng-show="popup['thick']"> sample thickness (Angstrom)</span>
              </div>
              <div class="col-sm-8 bloch_param">
                <input type="number" min="0" ng-model="bloch['thick']" class="bloch_input">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3 popup bloch_param" ng-mouseenter="toggle_popup('thicks')" ng-mouseleave="toggle_popup('thicks')">
                Range
                <span class="popuptext" ng-show="popup['thicks']"> Thickness range for beam vs thickness (t0,t1,nb_points) </span>
              </div>
              <div class="col-sm-8 bloch_param">
                <input type="text" ng-model="bloch['thicks']" class="bloch_input" style="width: 150px">
              </div>
            </div>
            <div class="row " >
              <div class="btn-sm btn-primary bloch_solve_param"  ng-click="solve_bloch()"> Solve </div>
            </div>
            <div class="row">
              <div class="popup bloch_param" ng-mouseenter="toggle_popup('nbms')" ng-mouseleave="toggle_popup('nbms')"> nbeams:
                <span class="popuptext" ng-show="popup['nbms']"> Number of beams (size of the bloch matrix) </span>
              </div>
              <span ng-bind="nbeams" ></span>
            </div>
          </div><!-- Bloch solver -->

        </div><!-- Main Panel -->
      </div><!-- col-sm-2 -->



      <!-- molecule viewer -->
      <div class="col-sm-10" ng-show="show_molecule">
        <div class="panel">
          <div cif_file="cif_file" id="myJmol" ></div>
        </div>
      </div>


      <!-- Frame/analysis viewer -->
      <div class="col-sm-10" ng-hide="show_molecule" >
        <!-- Analysis figure -->
        <div class="col-sm-12" ng-show="analysis_mode">
          <div id="plotly_div" style="width:100%;margin:5px;border-style:solid;float:left" >
            <line-plot fig="fig">
          </div>
        </div>


        <div class="panel" ng-hide="analysis_mode" style="background-color: #80a6c7;">
          <div class="row"  >
            <!-- Simulated frame  -->
            <div class="col-sm-6" >
              <h3> Simulated Frames </h3>
              <div class="row">
                <div style="text-align:center">Brightness:<input type="number" ng-model="zmax['sim']" ng-keypress=update_zmax($event,'sim') style="width: 70px"></div>
              </div>
              <div class="row">
                <div class="frame">
                  <a ng-href="{a img['sim'] a}">
                    <img ng-src="{a img['sim'] a}" />
                  </a>
                </div>
              </div>
            </div>
            <!-- Experimental frame  -->
            <div class="col-sm-6">
              <h3> Experimental Frames </h3>
              <div class="row" >
                <div style="text-align:center">Brightness:<input type="number" ng-model="zmax['exp']" ng-keypress=update_zmax($event,'exp') style="width: 70px"></div>
              </div>
              <div class="row">
                <div class="frame">
                  <a  ng-href="{a img['exp'] a}">
                    <img  ng-src="{a img['exp'] a}" />
                  </a>
                </div>
              </div>
            </div>
          </div><!-- panel-->
        </div><!-- col-sm-12 -->

      </div><!-- Frame/analysis viewer -->
    </div><!-- ng-controller -->
  </div>



<script src="static/js/jsmol.js"></script>
<script text="javascript">
  var myPlot = document.getElementById('plotly_div')
  myPlot.on('plotly_click', function(){
      alert('You clicked this Plotly chart!');
    });
</script>
</body>
</html>
